@import url("fonts.css");
@keyframes rise {
  0% {text-shadow: none;}
  15% {
    top: -1px;
    text-shadow: 0 1px 0 #ccc, 
            0 2px 0 #c9c9c9;
  }
  30% {
    top: -1px;
    text-shadow: 0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9;
  }
  60% {
    top: -1px;
    text-shadow: 0 1px 0 #cccccc, 
			    0 2px 0 #c9c9c9, 
			    0 3px 0 #bbbbbb, 
			    0 4px 0 #b9b9b9, 
			    0 5px 0 #aaaaaa, 
			    0 6px 1px rgba(0, 0, 0, 0.1);
  }
  75% {
    top: -2px;
    text-shadow: 0 1px 0 #cccccc, 
			    0 2px 0 #c9c9c9, 
			    0 3px 0 #bbbbbb, 
			    0 4px 0 #b9b9b9, 
			    0 5px 0 #aaaaaa, 
			    0 6px 1px rgba(0, 0, 0, 0.1), 
			    0 0 5px rgba(0, 0, 0, 0.1), 
			    0 1px 3px rgba(0, 0, 0, 0.3);
  }
  90% {
    top: -2px;
    text-shadow: 0 1px 0 #cccccc, 
			    0 2px 0 #c9c9c9, 
			    0 3px 0 #bbbbbb, 
			    0 4px 0 #b9b9b9, 
			    0 5px 0 #aaaaaa, 
			    0 6px 1px rgba(0, 0, 0, 0.1), 
			    0 0 5px rgba(0, 0, 0, 0.1), 
			    0 1px 3px rgba(0, 0, 0, 0.3), 
			    0 3px 5px rgba(0, 0, 0, 0.2), 
			    0 5px 10px rgba(0, 0, 0, 0.25);
  }
  100% {
    top: -2px;
    text-shadow: 0 1px 0 #cccccc, 
			    0 2px 0 #c9c9c9, 
			    0 3px 0 #bbbbbb, 
			    0 4px 0 #b9b9b9, 
			    0 5px 0 #aaaaaa, 
			    0 6px 1px rgba(0, 0, 0, 0.1), 
			    0 0 5px rgba(0, 0, 0, 0.1), 
			    0 1px 3px rgba(0, 0, 0, 0.3), 
			    0 3px 5px rgba(0, 0, 0, 0.2), 
			    0 5px 10px rgba(0, 0, 0, 0.25), 
			    0 10px 10px rgba(0, 0, 0, 0.2), 
			    0 20px 20px rgba(0, 0, 0, 0.15);
  }
}
@keyframes swing {
  0% {transform: translateX(-4px);}
  15% {transform: translateX(4px);}
  30% {transform: translateX(-4px);}
  50% {transform: translateX(3px);}
  65% {transform: translateX(-2px);}
  80% {transform: translateX(1px);}
  100% {transform: translateX(0);}
}
.clearfix {
  display: block;
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  margin: 0;
  padding: 0;
  line-height: 0;
  visibility: hidden;
}
@media (min-width: 1025px) and (max-width: 2000px) {
  body {
    max-width: 1300px;
    min-width: 1025px;
    margin: 0 auto;
    font-size: 16px;
    color: #000;
    background-color: #fff;
  }
  a,
  a:link,
  a:visited,
  a:active {
    text-decoration: none;
    cursor: url(../img/cursor.cur),url(img/cursor.cur), pointer;
    color: #000;
  }
  header {
    width: 100%;
    height: 119px;
    background-color: #fff;
    overflow: hidden;
  }
  button {cursor: url(../img/cursor.cur),url(img/cursor.cur), pointer;}
  .sticky-header {
    width: 90.76923076923077% !important;
    margin: 0 auto;
  }
  .head-top {
    width: 100%;
    height: 79px;
  }
  h1.logo {
    float: left;
    display: inline-block;
    margin-top: 21px;
    font: bold 30px OpenSans;
    letter-spacing: .01em;
  }
  .login-bag {
    float: right;
    display: inline-block;
    width: 35%;
    margin-top: 29px;
    font: 12px Roboto;
    letter-spacing: .03em;
    overflow: hidden;
  }
  .email-sign {float: right;}
  .bag {
    float: right;
    display: inline-block;
    margin-left: 53px;
    padding-left: 26px;
    text-align: right;
    height: 14px;
    background-image: url("../img/start/start_bag.png");
    background-position: left top;
    background-repeat: no-repeat;
  }
  .main-nav {
    position: static !important;
    width: 100%;
    height: 39px;
  }
  .main-menu__wrap {
    display: block !important;
    width: 81.3559322% !important;
    height: 0 !important;
  }
  .main-menu {
    display: block !important;
    float: left;
    width: 100%;
    list-style-type: none;
    font: bold 13px OpenSans;
    letter-spacing: .03em;
  }
  .main-menu li {
    display: inline-block;
    margin-right: 6.66666667%;
  }
  .main-menu li:last-child {margin-right: 0;}
  .main-menu li a:hover {color: #f14a58 !important;}
  .rise a:hover {
    position: relative;
    display: inline-block;
    animation: rise .5s ease;
    animation-iteration-count: 1;
    top: -2px;
    text-shadow: 0 1px 0 #cccccc, 
			    0 2px 0 #c9c9c9, 
			    0 3px 0 #bbbbbb, 
			    0 4px 0 #b9b9b9, 
			    0 5px 0 #aaaaaa, 
			    0 6px 1px rgba(0, 0, 0, 0.1), 
			    0 0 5px rgba(0, 0, 0, 0.1), 
			    0 1px 3px rgba(0, 0, 0, 0.3), 
			    0 3px 5px rgba(0, 0, 0, 0.2), 
			    0 5px 10px rgba(0, 0, 0, 0.25), 
			    0 10px 10px rgba(0, 0, 0, 0.2), 
			    0 20px 20px rgba(0, 0, 0, 0.15);
  }
  .search-around {
    display: none;
    width: 0;
  }
  .mobile-search {display: none;}
  .search {
    display: block;
    float: right;
    width: 8.728813559322034%;
    height: 20px;
    margin-top: -1px;
    border: none;
    border-bottom: 2px solid #e5e5e5;
    padding: 0 15px 6px 0;
    font: bold 12px OpenSans;
    letter-spacing: .03em;
    color: #a8a8a8;
    text-align: left;
    background-image: url("../img/start/start_search.png");
    background-position: 100% 5px;
    background-repeat: no-repeat;
  }
  .tablet-search {display: none;}
  .btn-search {display: none !important;}
  .back {
    width: 100%;
    height: 64px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fff;
  }
  .back a {
    display: inline-block;
    margin-left: 90px;
    padding-top: 12px;
    font: bold 26px OpenSans;
    letter-spacing: .03em;
  }
  .back a:hover {
    animation: bagOpac 3s ease;
    animation-iteration-count: infinite;
  }
  .bag-main {
    width: 100%;
    padding-top: 30px;
    background-color: #fff;
  }
  .conteiner {
    width: 90.76923076923077%;
    margin: 0 auto;
    font-family: OpenSans;
    text-align: center;
  }
  .item {
    float: left;
    width: 50%;
    height: 431px;
    text-align: left;
  }
  .item__preview {
    position: relative;
    float: left;
    width: 44.91525423728814%;
  }
  .item img {
    width: 90.56603773584906%;
    height: auto;
  }
  .item__preview .quick-view {
    display: none;
    box-sizing: border-box;
    position: absolute;
    z-index: 2000;
    top: 0px;
    width: 90.56603773584906%;
    height: 340px;
    padding-top: 138px;
    font: bold 22px/65px OpenSans;
    letter-spacing: .03em;
    color: #f14a58;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .item__preview:hover .quick-view {display: block;}
  .item__price {
    width: 90.56603773584906%;
    font: 14px/65px Roboto;
    letter-spacing: .03em;
    text-align: center;
  }
  .item__overview {
    float: left;
    width: 55.08474576271186%;
    font: 12px/24px Roboto;
    letter-spacing: .03em;
  }
  .item__name {
    width: 70%;
    padding: 9px 0 0 2px;
    font: bold 14px/24px Roboto;
    letter-spacing: .03em;
  }
  .item:hover .item__name {color: #f14a58;}
  .item__color {padding-top: 6px;}
  .item__color,
  .item__quantity,
  .item__size {padding-left: 2px;}
  .item__remove {
    width: 90px;
    margin-top: 25px;
    padding-left: 2px;
    font: bold 13px OpenSans;
    letter-spacing: .03em;
    color: #f14a58;
    cursor: url(../img/cursor.cur),url(img/cursor.cur), pointer;
  }
  .bag__down {
    width: 100%;
    height: 205px;
    margin-top: 26px;
    border-top: 1px solid #e5e5e5;
  }
  .discount-info {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    font: bold 12px OpenSans;
    letter-spacing: .03em;
    background-color: #f7f7f7;
    text-align: center;
  }
  .discount-info:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }
  .bag__control {
    width: 90.76923076923077%;
    margin: 0 auto;
  }
  .bag__empty {
    float: left;
    width: 15%;
    margin-left: 2.711864406779661%;
    padding-top: 33px;
    font: bold 13px/65px Roboto;
    letter-spacing: .03em;
  }
  .bag__empty span {cursor: url(../img/cursor.cur),url(img/cursor.cur), pointer;}
  .buy-now {
    position: relative;
    float: left;
    display: block;
    width: 28.64406779661017%;
    height: 73px;
    margin: 30px 0 0 17.88135593220339%;
    font: bold 24px OpenSans;
    letter-spacing: .03em;
    text-align: center;
    outline: none;
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #bebebe;
    box-shadow: 1px 0px #e5e5e5, 1px 1px #bebebe, 2px 1px #e4e4e4, 2px 2px #bdbdbd;
  }
  .buy-now:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }
  .buy-now:hover {
    color: #f14a58;
    border-top: 1px solid #ed4251;
    border-left: 1px solid #ed4251;
    border-right: 1px solid #ed4251;
    border-bottom: 1px solid #d11427;
    box-shadow: 1px 0px #ed4251, 1px 1px #d11427, 2px 1px #ec4150, 2px 2px #d01326;
  }
  .buy-now:active {
    top: 2px;
    left: 2px;
    box-shadow: -1px 0px #ed4251, -1px -1px #d11427;
  }
  .cost {
    float: right;
    box-sizing: border-box;
    width: 15%;
    padding-top: 45px;
    padding-right: 2.542372881355932%;
  }
  .cost__topic {
    width: 100%;
    font: 12px/30px Roboto;
    letter-spacing: .03em;
    text-align: right;
  }
  .cost__sum {
    width: 100%;
    font: bold 18px/12px OpenSans;
    letter-spacing: .03em;
    text-align: right;
  }
  footer {
    width: 100%;
    border-top: 1px solid #e5e5e5;
    background-color: #fff;
  }
  .links {
    width: 100%;
    height: 448px;
    border-bottom: 1px solid #e5e5e5;
  }
  .links .left {
    float: left;
    box-sizing: border-box;
    width: 50%;
    height: 448px;
    border-right: 1px solid #e5e5e5;
  }
  .quick-links {
    float: left;
    width: 40.83204930662558%;
    height: 448px;
    padding-left: 9.244992295839753%;
  }
  .links__head {
    margin-top: 31px;
    font: bold 16px/65px OpenSans;
    letter-spacing: .03em;
  }
  .links__list {
    margin: 12px 0 0 1px;
    list-style-type: none;
    font: 14px/40px Roboto;
    letter-spacing: .03em;
  }
  .links__list a:hover {
  	text-decoration: underline;
    display: inline-block;
    animation: swing 1s ease;
    animation-iteration-count: 1;
  }
  .links .right {
    float: left;
    width: 45.384%;
    padding-left: 4.61%;
  }
  .right-top {height: 160px;}
  .links .questions {
    float: left;
    width: 44.91525423728814%;
    height: 160px;
  }
  .links .questions__text {
    margin-top: -2px;
    padding-left: 8.679245283018868%;
    font: 14px/10px Roboto;
    letter-spacing: .03em;
    background-image: url("../img/start/footer/twG.png");
    background-repeat: no-repeat;
    background-position: left center;
  }
  .links .questions__text span {font-weight: bold;}
  .links .phone {float: left;}
  .links .phone_text {
    margin-top: -2px;
    padding-left: 1px;
    font: 14px/10px Roboto;
    letter-spacing: .03em;
  }
  .links .about {
    width: 51.69491525423729%;
    margin: 18px 0 37px;
    font: italic 16px/30px Crimson;
    letter-spacing: -0.005em;
    color: #757575;
  }
  .social {
    float: left;
    margin-right: 25px;
  }
  .down {
    width: 90.76923076923077%;
    height: 80px;
    margin: 0 auto;
  }
  .copyrate {
    float: left;
    box-sizing: border-box;
    width: 26%;
    height: 100%;
    padding-top: 1px;
    font: bold 12px Roboto;
    letter-spacing: .03em;
    color: #000;
  }
  .copyrate:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .share {
    float: left;
    width: 13%;
    height: 100%;
    margin: -1px 0 0 18.6440678%;
    font: bold 18px OpenSans;
    letter-spacing: .03em;
  }
  .share:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .share-mind {
    display: inline-block;
    width: 38%;
    height: 21px;
    margin-left: -1px;
    padding: 7px 0 2px 9px;
    font: 12px Roboto;
    letter-spacing: .03em;
    background-image: url("../img/start/footer/share.png");
    background-repeat: no-repeat;
    background-position: left center;
  }
  .down__menu {
    float: right;
    list-style-type: none;
    width: 36%;
    height: 100%;
    text-align: right;
  }
  .down__menu:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .down__menu li {
    display: inline-block;
    margin:8px 0 0 8.5%;
    font: bold 12px Roboto;
    letter-spacing: .03em;
  }
}
@media (min-width: 1025px) and (max-width: 1300px) {
  .main-menu__wrap {width: 80vw !important;}
  .main-menu li {margin-right: 4.23076923vw;}
  .item {height: 33.15384615384615vw;}
  .item__preview a {
    display: block;
    width: 100%;
    height: 26.15384615vw;
  }
  .item__preview img {height: 26.15384615vw;}
  .item__preview .quick-view {
    padding-top: 10.61538462vw;
    height: 26.15384615vw;
  }
  .item__remove {margin-top: 1.692307692307692vw;}
  .bag__down {
    height: 15.76923076923077vw;
    margin-top: 2vw;
  }
  .discount-info {height: 3.076923076923077vw;}
  .bag__empty {padding-top: 2.538461538461538vw;}
  .buy-now {
    height: 5.615384615384615vw;
    margin-top: 2.307692307692308vw;
  }
  .cost {padding-top: 3.461538461538462vw;}
  .links,
  .links .left,
  .quick-links {height: 34.46153846153846vw;}
  .links__head {margin-top: 2.38461538vw;}
  .right-top,
  .links .questions {height: 12.30769230769231vw;}
  .links .about {
    margin-top: 1.384615384615385vw;
    margin-bottom: 2.846153846153846vw;
  }
  .down {height: 6.923076923076923vw;}
}
