@import url("fonts.css");
@keyframes rise {
  0% {text-shadow: none;}
  15% {
    top: -1px;
    text-shadow: 0 1px 0 #ccc, 
            0 2px 0 #c9c9c9;
  }
  30% {
    top: -1px;
    text-shadow: 0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9;
  }
  60% {
    top: -1px;
    text-shadow: 0 1px 0 #cccccc, 
			    0 2px 0 #c9c9c9, 
			    0 3px 0 #bbbbbb, 
			    0 4px 0 #b9b9b9, 
			    0 5px 0 #aaaaaa, 
			    0 6px 1px rgba(0, 0, 0, 0.1);
  }
  75% {
    top: -2px;
    text-shadow: 0 1px 0 #cccccc, 
			    0 2px 0 #c9c9c9, 
			    0 3px 0 #bbbbbb, 
			    0 4px 0 #b9b9b9, 
			    0 5px 0 #aaaaaa, 
			    0 6px 1px rgba(0, 0, 0, 0.1), 
			    0 0 5px rgba(0, 0, 0, 0.1), 
			    0 1px 3px rgba(0, 0, 0, 0.3);
  }
  90% {
    top: -2px;
    text-shadow: 0 1px 0 #cccccc, 
			    0 2px 0 #c9c9c9, 
			    0 3px 0 #bbbbbb, 
			    0 4px 0 #b9b9b9, 
			    0 5px 0 #aaaaaa, 
			    0 6px 1px rgba(0, 0, 0, 0.1), 
			    0 0 5px rgba(0, 0, 0, 0.1), 
			    0 1px 3px rgba(0, 0, 0, 0.3), 
			    0 3px 5px rgba(0, 0, 0, 0.2), 
			    0 5px 10px rgba(0, 0, 0, 0.25);
  }
  100% {
    top: -2px;
    text-shadow: 0 1px 0 #cccccc, 
			    0 2px 0 #c9c9c9, 
			    0 3px 0 #bbbbbb, 
			    0 4px 0 #b9b9b9, 
			    0 5px 0 #aaaaaa, 
			    0 6px 1px rgba(0, 0, 0, 0.1), 
			    0 0 5px rgba(0, 0, 0, 0.1), 
			    0 1px 3px rgba(0, 0, 0, 0.3), 
			    0 3px 5px rgba(0, 0, 0, 0.2), 
			    0 5px 10px rgba(0, 0, 0, 0.25), 
			    0 10px 10px rgba(0, 0, 0, 0.2), 
			    0 20px 20px rgba(0, 0, 0, 0.15);
  }
}
@keyframes swing {
  0% {transform: translateX(-4px);}
  15% {transform: translateX(4px);}
  30% {transform: translateX(-4px);}
  50% {transform: translateX(3px);}
  65% {transform: translateX(-2px);}
  80% {transform: translateX(1px);}
  100% {transform: translateX(0);}
}
.clearfix {
  display: block;
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  margin: 0;
  padding: 0;
  line-height: 0;
  visibility: hidden;
}
@media (min-width: 1025px) and (max-width: 3000px) {
  body {
    max-width: 1300px;
    min-width: 1025px;
    margin: 0 auto;
    background-color: #fff;
    color: #000;
    font-size: 16px;
  }
  a,
  a:link,
  a:visited,
  a:active {
    text-decoration: none;
    cursor: url(../img/cursor.cur),url(img/cursor.cur), pointer;
    color: #000;
  }
  header {
    width: 100%;
    height: 119px;
    background-color: #fff;
    overflow: hidden;
  }
  .sticky-header {
    width: 90.76923076923077% !important;
    margin: 0 auto;
  }
  .head-top {
    width: 100%;
    height: 79px;
  }
  h1.logo {
    float: left;
    display: inline-block;
    margin-top: 21px;
    font: bold 30px OpenSans;
    letter-spacing: .01em;
  }
  .login-bag {
    float: right;
    display: inline-block;
    width: 30%;
    margin-top: 29px;
    font: 12px Roboto;
    letter-spacing: .03em;
    overflow: hidden;
  }
  .email-sign {float: right;}
  .bag {
    float: right;
    display: inline-block;
    margin-left: 53px;
    padding-left: 26px;
    text-align: right;
    height: 14px;
    background-image: url("../img/start/start_bag.png");
    background-position: left top;
    background-repeat: no-repeat;
  }
  .main-nav {
    position: static !important;
    width: 100%;
    height: 39px;
  }
  .main-menu__wrap {
    display: block !important;
    width: 81.3559322% !important;
    height: 0 !important;
  }
  .main-menu {
    display: block !important;
    float: left;
    width: 100%;
    list-style-type: none;
    font: bold 13px OpenSans;
    letter-spacing: .03em;
  }
  .main-menu li {
    display: inline-block;
    margin-right: 6.66666667%;
  }
  .main-menu li:last-child {margin-right: 0;}
  .rise a:hover {
    position: relative;
    display: inline-block;
    animation: rise .5s ease;
    animation-iteration-count: 1;
    top: -2px;
    text-shadow: 0 1px 0 #cccccc, 
	    0 2px 0 #c9c9c9, 
	    0 3px 0 #bbbbbb, 
	    0 4px 0 #b9b9b9, 
	    0 5px 0 #aaaaaa, 
	    0 6px 1px rgba(0, 0, 0, 0.1), 
	    0 0 5px rgba(0, 0, 0, 0.1), 
	    0 1px 3px rgba(0, 0, 0, 0.3), 
	    0 3px 5px rgba(0, 0, 0, 0.2), 
	    0 5px 10px rgba(0, 0, 0, 0.25), 
	    0 10px 10px rgba(0, 0, 0, 0.2), 
	    0 20px 20px rgba(0, 0, 0, 0.15);
  }
  .main-menu li a:hover {color: #f14a58 !important;}
  .search-around {
    display: none;
    width: 0;
  }
  .mobile-search {display: none;}
  .search {
    display: block;
    float: right;
    width: 8.728813559322034%;
    height: 20px;
    margin-top: -1px;
    border: none;
    border-bottom: 2px solid #e5e5e5;
    padding: 0 15px 6px 0;
    font: bold 12px OpenSans;
    letter-spacing: .03em;
    color: #a8a8a8;
    text-align: left;
    background-image: url("../img/start/start_search.png");
    background-position: 100% 5px;
    background-repeat: no-repeat;
  }
  .tablet-search {display: none;}
  .btn-search {display: none !important;}
  .filters {
    width: 100%;
    height: 64px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fff;
  }
  .tablet-menu {display: none;}
  .filters__menu {
    width: 90.76923076923077% !important;
    height: 64px;
    margin: 0 auto;
    list-style-type: none;
  }
  .filters__menu > li {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 16.66666666666667%;
    height: 64px;
    padding-left: 20px;
    font: bold 16px OpenSans;
    letter-spacing: .03em;
    background-image: url("../img/catalog/menu.png");
    background-repeat: no-repeat;
    background-position: 90% 30px;
    cursor: url(../img/cursor.cur),url(img/cursor.cur), pointer;
  }
  .filters__menu li:last-child {background-position: 100% 30px;}
  .filters__menu > li:hover {background-color: #f7f7f7;}
  .filters__menu > li:first-child {padding-left: 1px;}
  .filters__type {
    box-sizing: border-box;
    height: 41px;
    padding-top: 19px;
    overflow: hidden;
  }
  .filters__name {
    position: absolute;
    top: 30px;
    box-sizing: border-box;
    padding-top: 0;
    font: bold 16px OpenSans;
    letter-spacing: .03em;
    color: #f14a58;
  }
  .filters__menu > li:last-child .filters__name {
    z-index: 999;
    top: 0;
    width: 89.7%;
    height: 64px;
    font: bold 12px Roboto;
    letter-spacing: .03em;
    color: #000;
    background-color: #fff;
    cursor: url(../img/cursor.cur),url(img/cursor.cur), pointer;
    opacity: 0;
    transition: all 1s;
  }
  .filters__menu > li:last-child:hover {background-color: #fff !important;}
  .filters__menu > li:last-child:hover .filters__type {opacity: 0;}
  .filters__menu > li:last-child:hover .filters__name {opacity: 1;}
  .filters__sub-menu {
    position: absolute;
    left: 0;
    top: 64px;
    z-index: 1000;
    display: none;
    width: 100%;
    height: 64px;
    list-style-type: none;
  }
  .filters__sub-menu > li {
    box-sizing: border-box;
    width: 100%;
    height: 64px;
    padding-left: 20px;
    border-bottom: 1px solid #e5e5e5;
    font: bold 16px/64px OpenSans;
    letter-spacing: .03em;
    background-color: rgba(255, 255, 255, 0.8);
  }
  .filters__sub-menu > li:hover {
    color: #f14a58;
    background-color: rgba(247, 247, 247, 0.99);
  }
  .filters__menu .price {
    width: 100%;
    height: 10px;
    padding-top: 19px;
  }
  .price__begin {
    float: left;
    width: 50%;
  }
  .price__end {
    float: left;
    box-sizing: border-box;
    width: 50%;
    padding-left: 5px;
  }
  .price-slider {
    width: 100%;
    padding-top: 15px;
  }
  .main-track {
    position: relative;
    width: 100%;
    height: 3px;
    margin: auto;
    background-color: #e5e5e5;
  }
  .price-slider .sub-track {
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 3px;
    background-color: #f14a58;
  }
  .price-slider .left {
    position: absolute;
    z-index: 1001;
    top: -3px;
    left: -3px;
    width: 3px;
    height: 9px;
    background-color: #f14a58;
    cursor: url(../img/cursor.cur),url(img/cursor.cur), pointer;
  }
  .price-slider .right {
    position: absolute;
    z-index: 1001;
    top: -3px;
    left: 100%;
    width: 3px;
    height: 9px;
    background-color: #f14a58;
    cursor: url(../img/cursor.cur),url(img/cursor.cur), pointer;
  }
  .arrivals {
    width: 100%;
    padding-top: 60px;
    background-color: #fff;
    overflow: hidden;
  }
  .arrivals .conteiner {
    width: 90.76923076923077%;
    margin: 0 4.615384615384615%;
    overflow: hidden;
  }
  .arrivals__item {
    position: relative;
    float: left;
    width: 20.33898305084746%;
    height: 433px;
    margin: 0 6.214689265536723% 107px 0;
  }
  .arrivals__item:nth-of-type(4n+4) {margin-right: 0;}
  .arrivals__item img {
    width: 100%;
    height: auto;
  }
  .arrivals__item .name {
    width: 80%;
    margin: 41px auto 0;
    font: bold 14px/24px Roboto;
    letter-spacing: .03em;
    text-align: center;
  }
  .arrivals__item .price {
    width: 70%;
    margin: -13px 15% 0;
    font: 14px/65px Roboto;
    letter-spacing: .03em;
    text-align: center;
  }
  .arrivals__item .price span {
    font: italic 16px/26px Ctimson;
    letter-spacing: 0em;
    color: #757575;
  }
  .arrivals__item .price span.old {
    font: 14px/65px Roboto;
    letter-spacing: .03em;
    color: #757575;
  }
  .shadow {
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 340px;
    background-color: rgba(94, 102, 108, 0.3);
  }
  .shadow__name {
    width: 100%;
    margin-top: 245px;
    font: bold 30px/25px OpenSans;
    letter-spacing: .025em;
    color: #fff;
    text-align: center;
  }
  .shadow__info {
    width: 100%;
    margin-top: 10px;
    font: italic 16px/26px Crimson;
    letter-spacing: 0em;
    color: #fff;
    text-align: center;
  }
  .arrivals__item .quick-view {
    display: none;
    box-sizing: border-box;
    position: absolute;
    z-index: 2000;
    top: 0px;
    width: 100%;
    height: 340px;
    padding-top: 138px;
    font: bold 22px/65px OpenSans;
    letter-spacing: .03em;
    color: #f14a58;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .arrivals__item:hover .quick-view {display: block;}
  .arrivals__item:hover .name {color: #f14a58;}
  .arrivals__banner {
    position: relative;
    top: -26px;
    display: block;
    clear: both;
    width: 100%;
    margin: 0 0 65px 0 ;
  }
  .arrivals__banner .topic {
    width: 100%;
    font: 24px/34px OpenSans;
    letter-spacing: .025em;
    text-align: center;
  }
  .arrivals__banner .topic span {color: #f14a58;}
  .arrivals__banner .info {
    width: 100%;
    padding-top: 13px;
    font: italic 16px/30px Crimson;
    letter-spacing: -0.01em;
    text-align: center;
  }
  .show-more {
    clear: both;
    position: relative;
    display: block;
    width: 26.15384615384615%;
    height: 75px;
    margin: 16px auto 155px;
    outline: none;
    background-color: #fff;
    font: bold 24px OpenSans;
    letter-spacing: .03em;
    text-align: center;
    cursor: url(../img/cursor.cur),url(img/cursor.cur), pointer;
    border-top: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #bebebe;
    box-shadow:
        1px 0px rgb(229,229,229), 1px 1px rgb(190,190,190),
        2px 1px rgb(228,228,228), 2px 2px rgb(189,189,189);
  }
  .show-more:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }
  .show-more:hover {
    color: #f14a58;
    border-top: 1px solid #ed4251;
    border-left: 1px solid #ed4251;
    border-right: 1px solid #ed4251;
    border-bottom: 1px solid #d11427;
    box-shadow: 1px 0px #ed4251, 
			    1px 1px #d11427, 
			    2px 1px #ec4150, 
			    2px 2px #d01326;
  }
  .show-more:active {
    top: 2px;
    left: 2px;
    box-shadow: -1px 0px #ed4251, -1px -1px #d11427;
  }
  .banner {
    width: 100%;
    height: 384px;
    border-top: 1px solid #e5e5e5;
    background-color: #fff;
    overflow: hidden;
  }
  .banner .section-1 {
    float: left;
    width: 50%;
    height: 384px;
    overflow: hidden;
  }
  .banner .slider {
    width: 100%;
    height: 1152px;
    transition: margin-top 650ms;
    overflow: hidden;
  }
  .slider__item-1 {
    display: block;
    width: 100%;
    height: 385px;
    background-image: url("../img/start/slide_2/1_adidas.png");
    background-size: 100% 100%;
  }
  .slider__item-1 .text-1 {
    width: 88.2%;
    height: 33px;
    padding: 57px 0 0 0;
    font: bold 28px OpenSans;
    letter-spacing: .025em;
    color: #fff;
    text-align: right;
  }
  .slider__item-1 .text-2 {
    float: right;
    width: 25.42372881355932%;
    height: 16px;
    margin: 12px 12.17257318952234% 0 0;
    font: italic 16px Crimson;
    letter-spacing: 0em;
    color: #fff;
    text-align: center;
  }
  .slider__item-2 {
    display: block;
    width: 100%;
    height: 385px;
    background-image: url("../img/start/slide_2/1_reebok.png");
    background-size: 100% 100%;
  }
  .slider__item-3 {
    display: block;
    width: 100%;
    height: 385px;
    background-image: url("../img/start/slide_2/1_adisas2.png");
    background-size: 100% 100%;
  }
  .banner .section-2 {
    float: left;
    width: 50%;
    height: 384px;
  }
  .section-2 .left {
    float: left;
    width: 49.92295839753467%;
  }
  .section-2 .left a {
    display: block;
    width: 100%;
    height: 385px;
    background-image: linear-gradient(to top, rgba(94, 102, 108, 0.3), rgba(94, 102, 108, 0.3)), url("../img/start/slide_2/4.png");
    background-size: 100% 100%;
  }
  .left__text-1 {
    width: 100%;
    height: 33px;
    padding-top: 272px;
    font: bold 28px OpenSans;
    letter-spacing: .025em;
    color: #fff;
    text-align: center;
  }
  .left__text-2 {
    width: 100%;
    height: 14px;
    margin-top: 11px;
    font: 14px Roboto;
    letter-spacing: .025em;
    color: #fff;
    text-align: center;
  }
  .section-2 .right {
    float: left;
    width: 49.84615384615%;
  }
  .section-2 .right a {
    display: block;
    width: 100%;
    height: 384px;
    border-left: 1px solid #e5e5e5;
    background-image: url("../img/start/slide_2/5_1.png");
    background-size: 100% 100%;
  }
  .right__text-1 {
    width: 100%;
    height: 33px;
    padding-top: 271px;
    font: bold 28px OpenSans;
    letter-spacing: .025em;
    color: #f14a58;
    text-align: center;
  }
  .right__text-2 {
    width: 100%;
    height: 14px;
    margin-top: 12px;
    font: italic 16px Crimson;
    letter-spacing: 0em;
    color: #757575;
    text-align: center;
  }
  footer {
    width: 100%;
    border-top: 1px solid #e5e5e5;
    background-color: #fff;
  }
  .links {
    width: 100%;
    height: 448px;
    border-bottom: 1px solid #e5e5e5;
  }
  .links .left {
    float: left;
    box-sizing: border-box;
    width: 50%;
    height: 448px;
    border-right: 1px solid #e5e5e5;
  }
  .quick-links {
    float: left;
    width: 40.83204930662558%;
    height: 448px;
    padding-left: 9.244992295839753%;
  }
  .links__head {
    margin-top: 31px;
    font: bold 16px/65px OpenSans;
    letter-spacing: .03em;
  }
  .links__list {
    margin: 12px 0 0 1px;
    list-style-type: none;
    font: 14px/40px Roboto;
    letter-spacing: .03em;
  }
  .links__list a:hover {
    text-decoration: underline;
    display: inline-block;
    animation: swing 1s ease;
    animation-iteration-count: 1;
  }
  .links .right {
    float: left;
    width: 45.384%;
    padding-left: 4.61%;
  }
  .right-top {height: 160px;}
  .links .questions {
    float: left;
    width: 44.91525423728814%;
    height: 160px;
  }
  .links .questions__text {
    margin-top: -2px;
    padding-left: 8.679245283018868%;
    font: 14px/10px Roboto;
    letter-spacing: .03em;
    background-image: url("../img/start/footer/twG.png");
    background-repeat: no-repeat;
    background-position: left center;
  }
  .links .questions__text span {font-weight: bold;}
  .links .phone {float: left;}
  .links .phone_text {
    margin-top: -2px;
    padding-left: 1px;
    font: 14px/10px Roboto;
    letter-spacing: .03em;
  }
  .links .about {
    width: 51.69491525423729%;
    margin: 18px 0 37px;
    font: italic 16px/30px Crimson;
    letter-spacing: -0.005em;
    color: #757575;
  }
  .social {
    float: left;
    margin-right: 25px;
  }
  .down {
    width: 90.76923076923077%;
    height: 80px;
    margin: 0 auto;
  }
  .copyrate {
    float: left;
    box-sizing: border-box;
    width: 26%;
    height: 100%;
    padding-top: 1px;
    font: bold 12px Roboto;
    letter-spacing: .03em;
    color: #000;
  }
  .copyrate:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .share {
    float: left;
    width: 13%;
    height: 100%;
    margin: -1px 0 0 18.6440678%;
    font: bold 18px OpenSans;
    letter-spacing: .03em;
  }
  .share:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .share-mind {
    display: inline-block;
    width: 38%;
    height: 21px;
    margin-left: -1px;
    padding: 7px 0 2px 9px;
    font: 12px Roboto;
    letter-spacing: .03em;
    background-image: url("../img/start/footer/share.png");
    background-repeat: no-repeat;
    background-position: left center;
  }
  .down__menu {
    float: right;
    list-style-type: none;
    width: 36%;
    height: 100%;
    text-align: right;
  }
  .down__menu:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .down__menu li {
    display: inline-block;
    margin:8px 0 0 8.5%;
    font: bold 12px Roboto;
    letter-spacing: .03em;
  }
}
@media (min-width: 1025px) and (max-width: 1300px) {
  .main-menu__wrap {width: 80vw !important;}
  .main-menu li {margin-right: 4.23076923vw;}
  .arrivals {padding-top: 4.615384615384615vw;}
  .arrivals__item {
    height: 33.30769230769231vw;
    margin-bottom: 8.230769230769231vw;
  }
  .arrivals__item img {
    width: 100%;
    height: 26.15384615384615vw;
  }
  .arrivals__item .name {
    margin-top: 3.15384615vw;
    line-height: 24px;
  }
  .shadow {height: 26.15384615384615vw;}
  .shadow__name {margin-top: 18.84615385vw;}
  .arrivals__item .quick-view {
    padding-top: 10.61538462vw;
    height: 26.15384615vw;
  }
  .arrivals__banner {
    top: -2vw;
    margin-bottom: 5vw;
  }
  .show-more {
    height: 5.615384615384615vw;
    margin-bottom: 12.07692307692308vw;
  }
  .banner,
  .banner .section-1,
  .banner .section-2 {height: 29.53846153846154vw;}
  .banner .slider {height: 88.61538461538462vw;}
  .slider__item-1,
  .slider__item-3 ,
  .slider__item-2,
  .section-2 .left a {height: 29.61538461538462vw;}
  .slider__item-1 .text-1 {padding-top: 4.38461538vw;}
  .left__text-1 {padding-top: 20.92307692vw;}
  .section-2 .right a {height: 29.53846153846154vw;}
  .right__text-1 {padding-top: 20.84615385vw;}
  .links,
  .links .left,
  .quick-links {height: 34.46153846153846vw;}
  .links__head {margin-top: 2.38461538vw;}
  .right-top,
  .links .questions {height: 12.30769230769231vw;}
  .links .about {
    margin-top: 1.384615384615385vw;
    margin-bottom: 2.846153846153846vw;
  }
  .down {height: 6.923076923076923vw;}
}
