@import url("fonts.css");
@keyframes rise
{
    0%{ text-shadow: none; }
    15% {
        top:-1px;
        text-shadow: 0 1px 0 #ccc, 
            0 2px 0 #c9c9c9;
    }
      
    30% {
        top: -1px;
        text-shadow:   0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9;
       
    }
    60%
    {
        top: -1px;
        text-shadow:   0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1);
       
    }
    75%
    {
        top: -2px;
        text-shadow:   0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3);
       
    }
    90%
    {
        top: -2px;
        text-shadow:   0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25);
      
    }
    100%
    {
        top: -2px;
        text-shadow:   0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
       
    }
      
}  

@keyframes swing
{
    
    0% { transform: translateX(-4px); }
    15% { transform: translateX(4px); }
    30% { transform: translateX(-4px);}
    50% { transform: translateX(3px); }
    65% { transform: translateX(-2px);}
    80% { transform: translateX(1px); }
    100% { transform: translateX(0); }
}  


@keyframes ltmove
{
    
    0%  {transform: translateX(-2px);}
    20% {transform: translateX(-4px);}
    40% {transform: translateX(-6px);}
    60% {transform: translateX(-8px);}
    80% {transform: translateX(-10px);}
    100%{transform: translateX(-12px);}
}

.clearfix { display: block; }
.clearfix:after { 
    content: ""; 
    display: block; 
    clear: both; 
    visibility: hidden; 
    line-height: 0; 
    height: 0; 
    margin: 0; 
    padding: 0; 
}

@media (min-width: 1025px) and (max-width: 3000px) {

body {
    max-width: 1300px;
    min-width: 1025px;
    margin: 0 auto;
    background-color:#fff;
    color: #000;
    font-size: 16px;
}



a {
    text-decoration: none;
    cursor: pointer;
    color: #000;
}
a:link {color: #000;} 
a:visited {color: #000;}  
a:active {color: #000;}

header {
    width: 100%;
    height: 120px;
    background-color: #fff;
    overflow: hidden;
}

.stickyHeader {
    width: 90.76923076923077% !important;
    margin: 0 auto;
}
    
.headTop {
    width: 100%;
    height: 81px;
}
    
h1.logo_tm {
    float: left;
    display: inline-block;
    margin-right: -1px;
    margin-top: 28px;
    font: 30px FuturaPTHeavy;
    letter-spacing: .03em;
}

.login_bag {
    float: right;
    display: inline-block;
    width: 30%;
    margin-top:32px;
    font: 12px HelveticaNeue;
    letter-spacing: .03em;
    overflow: hidden;
}

.emailSign {
    float: right;
}

.bagIn {
    float: right;
    display: inline-block;
    margin-left: 54px;
    padding-left: 26px;
    text-align: right;
    height: 14px;
    background-image: url("../img/start/start_bag.png");
    background-position: left top;
    background-repeat: no-repeat;
}

.mainNav {
    position: static !important;
    width: 100%; /* 1180*/
    height:39px;
}

.mainMenu {
    display: block !important;
    float: left;
    width: 1050.2px; /*1060/1180*/
    list-style-type: none;
    font: 14px FuturaPTDemi;
    letter-spacing: .03em;
}

.mainMenu li {
    display:inline-block; 
    margin-right: 5.2%;  /* 63/1060*/
}

.mainMenu li:last-child {
    margin-right: 0;
}
 
.rise a:hover {
    position: relative;
    display:inline-block;
    animation: rise .5s ease;
    animation-iteration-count: 1;
    top: -2px;
    text-shadow:   0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
     
}
/* END RISE IN HREF */
.searchAround {
    display: none;
    width: 0;
}
.mobileSearch {
    display: none;    
}
.search {
    display: block;
    float: right;
    width: 8.728813559322034%; /*118*/ 
    height: 20px;
    border: none;
    border-bottom: 2px solid #e5e5e5;
    margin-top: -3px;
    padding-right:15px;
    padding-bottom: 5px;
    font: 12px FuturaPTDemi;
    letter-spacing: .03em;
    color: #a8a8a8;
    text-align: left;
    background-image: url("../img/start/start_search.png");
    background-position: 100% 5px;;
    background-repeat: no-repeat;
}

.tabletSearch {
    display: none;
}

.btnSearch {
    display: none;
}
/* BACK TO CATALOG */

.back {
    width: 100%;
    height: 64px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fff;
}

.back a {
    display: inline-block;
    margin-left: 90px;
    padding-top: 22px;
    font: bold 16px "Open Sans";
    letter-spacing: .03em;
}
    
.back span { display: inline-block; }    

/* ITEM OVERVIEW */

.itemBlock {
    width: 100%;
    padding-top: 60px;
    background-color: #fff;
    overflow: hidden;
}

.preview {
    width: 90.76923076923077%;
    margin: 0 auto;
}

.fullPreview {
    float: left;
    width: 77.54237288135593%;
    height: 613px;
}

.fullPreview img {
    width: 100%;
    height: auto;
}

.smallPreview {
    float: right;
    width: 22.45762711864407%;
}

.smallPreview .imgCont {
    position: relative;
    width: 90.56603773584906%;
    height: 159px;
    margin-left: 9.433962264150943%; 
    margin-bottom: 20px;
    cursor: pointer;
}
.imgContShadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}
.imgCont img {
    width: 100%;
    height: 100%;
}   


.info {
    width: 50%;
    margin: 0 auto;
    margin-top: 55px;
}

.infoName {
    width: 100%;
    font: 26px/26px RobotoBold;
    letter-spacing: .03em;
    text-align: center;
}

.infoPrice {
    width: 100%;
    padding-top: 2px;
    font: 18px/65px RobotoRegular;
    letter-spacing: 0em;
    text-align: center;
}

.infoView {
    width: 95%;
    margin: 0 auto;
    margin-top: -5px;
    font: 16px/30px TimesItalic;
    letter-spacing: .002em;
    text-align: center;
}

.itemSize {
    width: 90.76923076923077%; /*1180*/
    margin: 0 auto;
    margin-top: 42px;
    font:24px/34px RobotoBold;
    letter-spacing: .03em;
    text-align: center;
}

.sizeConteiner {
    width: 100%; /* 1180 */
    margin: 0 auto;
    text-align: center;
}

.sizeBox {
    display: inline-block;
    width: 12.20338983050847%; /* 144   */
    height: 73px;
    margin-right: 5.084745762711864%; /* 60 */
    margin-top: 21px;
    border: 1px solid #e5e5e5;
    font: 24px/69px OpenSansSemibold;
    letter-spacing: .03em;
    text-align: center;
    cursor: pointer;
}


.sizeConteiner .sizeBox:first-child {
    background-color: #707070;
} 

.sizeConteiner .sizeBox:last-child {
    margin-right: 0;
} 

/* COLOR VIEW */
.itemColor {
    width: 90.76923076923077%;
    margin: 0 auto;
    margin-top: 53px;
    font: 24px/34px RobotoBold;
    letter-spacing: .03em;
    text-align: center;
}

.colorConteiner {
    width: 100%; /* 1180 */
    margin: 0 auto;
}

.colorBox {
    display:inline-block;
    width: 12.20338983050847%; /* 144   */
    height: 73px;
    margin-right: 5.084745762711864%; /* 60 */
    margin-top: 21px;
    border: 1px solid #e5e5e5;
    font: 24px/69px OpenSansSemibold;
    letter-spacing: .03em;
    text-align: center;
    cursor: pointer;    
}

.colorConteiner .colorBox:last-child {
    background-color: #707070;
} 

.colorConteiner .colorBox:last-child {
    margin-right: 0;
} 

/*ADD  TO BAG */

.addToBag {
    clear: both;
    position: relative;
    width: 26%; /*338*/
    height: 73px;
    margin: 0 auto;
    margin-top: 160px;
    margin-bottom: 160px;
    font:24px/69px OpenSansSemibold;
    letter-spacing: .03em;
    text-align: center;
    cursor: pointer;
    border-top: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid rgb(228,228,228);
    border-bottom: 1px solid rgb(190,190,190);
    box-shadow:
        1px 0px rgb(229,229,229), 1px 1px rgb(190,190,190),
        2px 1px rgb(228,228,228), 2px 2px rgb(189,189,189);
}

.addToBag:hover {
    border-top: 1px solid #ed4251;
    border-left: 1px solid #ed4251;
    border-right: 1px solid rgb(237,66,81);
    border-bottom: 1px solid rgb(209,20,39);
    box-shadow:  
        1px 0px rgb(237,66,81), 1px 1px rgb(209,20,39),
        2px 1px rgb(236,65,80), 2px 2px rgb(208,19,38);
}
    
.addToBag:active {
    top: 2px;
    left: 2px;
    box-shadow: -1px 0px rgb(237,66,81), -1px -1px rgb(209,20,39);
}
    
/* DOWN BANNER */

.banner {
    width: 100%;
    height: 384px;
    border-top: 1px solid #e5e5e5;
    background-color: #fff;
}

.banSec1 {
    float: left;
    width: 50%; 
    height: 384px;
    overflow: hidden;
}

.banSec1Slider {
    width: 100%;/*649px*/
    height: 1152px;
    transition: margin-top 650ms;
}

.banSec1Top1 {
    display: block;
    width: 100%;/*650px*/
    height: 385px;
    background-image: url("../img/start/slide_2/1_adidas.png");
    background-size: 100% 100%;
}

.banSec1Text1 {
    padding-top: 62px;
    padding-right: 12.17257318952234%;
    width: 87.82742681047766%;
    height: 33px;
    font: 30px FuturaPTDemi;
    letter-spacing: .03em;
    color: #fff;
    text-align: right;
}

.banSec1Text2 {
    float: right;
    margin-top: 8px;
    margin-right: 12.17257318952234%;
    width: 25.42372881355932%; /*165*/
    height: 16px;
    font: 16px TimesItalic;
    letter-spacing: 0em;
    color: #fff;  
    text-align: center;
}

.banSec1Top2 {
    display: block;
    width: 100%;/*649px*/
    height: 385px;
    background-image: url("../img/start/slide_2/1_reebok.png");
    background-size: 100% 100%;
}

.banSec1Top3 {
    display: block;
    width: 100%;/*650px*/
    height: 385px;
    background-image: url("../img/start/slide_2/1_adisas2.png");
    background-size: 100% 100%;
}

.banSec2 {
    float:left;
    width: 50%;/*650px*/
    height: 384px;
}

.bS2Left {
    float:left;
    width: 49.92295839753467%;/*324px*/
} 

.bS2Left a {
    display: block;
    width: 100%;
    height: 385px;
    background-image: linear-gradient(to top, rgba(94,102,108,0.3),rgba(94,102,108,0.3)),url("../img/start/slide_2/4.png") ;
    background-size: 100% 100%;
}

.bS2LeftText1 {
    padding-top: 277px;
    width: 100%;
    height: 33px;
    font: 30px FuturaPTDemi;
    letter-spacing: .03em;
    color: #fff;
    text-align: center;
}

.bS2LeftText2 {
    margin-top: 9px;
    width: 100%;
    height: 14px;
    font: 14px HelveticaNeue;
    letter-spacing: .03em;
    color: #fff;
    text-align: center;
}

.bS2Right {
    float:left;
    width: 49.84615384615%;/*324px*/
}
.bS2Right a {
    display: block;
    width: 100%;
    height: 384px;
    border-left: 1px solid #e5e5e5;
    background-image: url("../img/start/slide_2/5_1.png") ;
    background-size: 100% 100%;
}

.bS2RightText1 {
    padding-top: 276px;
    width: 100%;
    height: 33px;
    font: 30px FuturaPTDemi;
    letter-spacing: .03em;
    color: #f14a58;
    text-align: center;
}

.bS2RightText2 {
    margin-top: 9px;
    width: 100%;
    height: 14px;
    font: 16px TimesItalic;
    letter-spacing: 0em;
    color: #757575;
    text-align: center;
}

footer {
    width: 100%;
    border-top: 1px solid #e5e5e5;
    background-color: #fff;
}

.links {
    width: 100%;
    height: 448px;
    border-bottom: 1px solid #e5e5e5;
}

.linksLeft {
    float: left;
    width: 49.95%; /*649*/
    height: 448px;
    border-right: 1px solid #e5e5e5;
}

.lLCol1 {
    float: left;
    width: 40.83204930662558%; /*265*/
    height: 448px;
    padding-left: 9.244992295839753%;
}

.linksHead {
    margin-top: 30px;
    font: 18px/65px FuturaPTDemi;
    letter-spacing: .03em;
}

.linksList {
    margin-top: 13px;
    margin-left: 1px;
    list-style-type: none;
    font: 14px/40px HelveticaNeue;
    letter-spacing: .03em;
}
    


.linksList a:hover
{
    display:inline-block;
    animation: swing 1s ease;
    animation-iteration-count: 1;
}  

.linksRight {
    float: left;
    width: 45.184%; /*590*/
    padding-left: 4.5%; /*60*/
}

.lRTop {
    height: 160px;
}

.lRTopLeft {
    float: left;
    width: 44.91525423728814%; /*265*/
    height: 160px;
}

.lRTopLeftText {
    margin-top:-1px;
    padding-left: 8.679245283018868%; /*23*/
    font:14px/10px HelveticaNeue;
    letter-spacing: .03em;
    background-image: url("../img/start/footer/twG.png");
    background-repeat: no-repeat;
    background-position: left center;
    
}

.lRTopLeftText span {
    font-family: HelveticaNeueBold;
}

.lRTopRight {
    float: left;
    padding-left: 2px;
}

.lRTopRightText {
    margin-top: -1px;
    margin-left: 1px;
    font: 14px/10px HelveticaNeue;
    letter-spacing: .03em;
}

.lRMiddle {
    width: 51.69491525423729%;/*305/590*/
    margin-top: 18px;
    margin-bottom: 37px;
    font: 16px/30px TimesItalic;
    letter-spacing: -0.005em;
    color: #757575;
}

.social {
    float: left;
    margin-right: 25px;
}

.down {
    width: 90.76923076923077%;
    height: 80px;
    margin: 0 auto;
}


.copyrate {
    float: left;
    width: 26%;/*260*/
    height: 100%;
    font: 12px HelveticaNeueBold;
    letter-spacing: .03em;
    color: #000;    
}

.copyrate:before {
    content:'';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}    
.share {
    float:left;
    margin-left: 19.5%; /*303*/
    width: 13%;
    height: 100%;
    font: 18px FuturaPTDemi;
    letter-spacing: .03em;
}
    
.share:before {
    content:'';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.shareMind {
    display: inline-block;
    width: 38%; /*45/110*/
    margin-left: 0px;
    padding-top:10px;
    height: 21px;
    padding-left: 9px;
    font:12px HelveticaNeue;
    letter-spacing: .03em;
    background-image: url("../img/start/footer/share.png");
    background-repeat: no-repeat;
    background-position: left center;
}

.downMenu {
    float:right;
    list-style-type: none;
    width:  36% /*360*/;
    height: 100%;  
    text-align: right;  
}
.downMenu:before {
    content:'';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.downMenu li {
    display: inline-block;
    margin-left: 9.4%;  /*40/332/1180*/
    margin-top: 7px;
    font: 12px HelveticaNeueBold;
    letter-spacing: .03em;
}
    
}
/* ***************************** HEIGHT **************************************** */ 
@media (min-width: 1025px) and (max-width: 1300px) {
.mainMenu {
    width: 79vw; /*1050.2/1180*/
}

.mainMenu li {
    margin-right: 3.9vw;  /* 63/1060*/
} 
/* ITEM OVERVIEW */
.fullPreview {
    height: 47.15384615384615vw;/*613*/
}

/*ADD  TO BAG */
.addToBag {
    margin-top: 12.30769230769231vw;/*160*/
    margin-bottom: 12.30769230769231vw;/*160*/
}
    
.smallPreview .imgCont {
    height: 12.23076923076923vw;
}    
    
/* DOWN BANNER */
.banner, .banSec1, .banSec1Top1, .banSec1Top2, .banSec1Top3, .banSec2 , .bS2Left a, .bS2Right a  {
     height: 29.53846153846154vw;/*384*/
}

.banSec1Slider {
    height: 88.61538461538462vw;
}

.banSec1Text1 {
    padding-top: 4.769230769230769vw;/*62*/
}    
 
.bS2LeftText1 {
    padding-top: 21.30769230769231vw;/*277*/
}

.bS2RightText1 {
    padding-top: 21.23076923076923vw;/*276*/
   
}

.links , .linksLeft, .lLCol1 {
    height: 34.46153846153846vw;
}

.linksHead {
    margin-top: 2.307692307692308vw;
}

.lRTop, .lRTopLeft {
    height: 12.30769230769231vw;
}

.lRMiddle {
    margin-top: 1.384615384615385vw;
    margin-bottom: 2.846153846153846vw;
}

.down {
    height: 6.923076923076923vw;
}

    
} 