@import url("fonts.css");
@keyframes rise
{
    0%{ text-shadow: none; }
    15% {
        top:-1px;
        text-shadow: 0 1px 0 #ccc, 
            0 2px 0 #c9c9c9;
    }
      
    30% {
        top: -1px;
        text-shadow:   0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9;
       
    }
    60%
    {
        top: -1px;
        text-shadow:   0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1);
       
    }
    75%
    {
        top: -2px;
        text-shadow:   0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3);
       
    }
    90%
    {
        top: -2px;
        text-shadow:   0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25);
      
    }
    100%
    {
        top: -2px;
        text-shadow:   0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
       
    }
      
}  

@keyframes swing
{
    
    0%  { transform: translateX(-4px); }
    15% { transform: translateX(4px); }
    30% { transform: translateX(-4px);}
    50% { transform: translateX(3px); }
    65% { transform: translateX(-2px);}
    80% { transform: translateX(1px); }
    100% { transform: translateX(0); }
}  


@keyframes bagOpac
{
    
    0%  { opacity: 1; }
    10% { opacity: .8;}
    20% { opacity: .7;}
    30% { opacity: .6;}
    40% { opacity: .5;}
    50% { opacity: .4;}
    60% { opacity: .5;}
    70% { opacity: .6;}
    80% { opacity: .7;}
    90% { opacity: .8;}
    100% { opacity: .9;}
}

.clearfix { display: block; }

.clearfix:after { 
    content: ""; 
    display: block; 
    clear: both; 
    visibility: hidden; 
    line-height: 0; 
    height: 0; 
    margin: 0; 
    padding: 0; 
}

@media (min-width: 1025px) and (max-width: 3000px) {

body {
    max-width: 1300px;
    min-width: 1025px;
    margin: 0 auto;
    background-color:#fff;
    color: #000;
    font-size: 16px;
}



a {
    text-decoration: none;
    cursor: pointer;
    color: #000;
}
a:link {color: #000;} 
a:visited {color: #000;}  
a:active {color: #000;}

header {
    width: 100%;
    height: 120px;
    background-color: #fff;
    overflow: hidden;
}

.stickyHeader {
    width: 90.76923076923077% !important;
    margin: 0 auto;
}
    
.headTop {
    width: 100%;
    height: 81px;
}
    
h1.logo_tm {
    float: left;
    display: inline-block;
    margin-right: -1px;
    margin-top: 28px;
    font: 30px FuturaPTHeavy;
    letter-spacing: .03em;
}

.login_bag {
    float: right;
    display: inline-block;
    width: 30%;
    margin-top:32px;
    font: 12px HelveticaNeue;
    letter-spacing: .03em;
    overflow: hidden;
}

.emailSign {
    float: right;
}

.bagIn {
    float: right;
    display: inline-block;
    margin-left: 54px;
    padding-left: 26px;
    text-align: right;
    height: 14px;
    background-image: url("../img/start/start_bag.png");
    background-position: left top;
    background-repeat: no-repeat;
}

.mainNav {
    position: static !important;
    width: 100%; /* 1180*/
    height:39px;
}

.mainMenu {
    display: block !important;
    float: left;
    width: 1050.2px; /*1060/1180*/
    list-style-type: none;
    font: 14px FuturaPTDemi;
    letter-spacing: .03em;
}

.mainMenu li {
    display:inline-block; 
    margin-right: 5.2%;  /* 63/1060*/
}

.mainMenu li:last-child {
    margin-right: 0;
}

.rise a:hover {
    position: relative;
    display:inline-block;
    animation: rise .5s ease;
    animation-iteration-count: 1;
    top: -2px;
    text-shadow:   0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
     
}
/* END RISE IN HREF */
.searchAround {
    display: none;
    width: 0;
}
.mobileSearch {
    display: none;    
}
.search {
    display: block;
    float: right;
    width: 8.728813559322034%; /*118*/ 
    height: 20px;
    border: none;
    border-bottom: 2px solid #e5e5e5;
    margin-top: -3px;
    padding-right:15px;
    padding-bottom: 5px;
    font: 12px FuturaPTDemi;
    letter-spacing: .03em;
    color: #a8a8a8;
    text-align: left;
    background-image: url("../img/start/start_search.png");
    background-position: 100% 5px;;
    background-repeat: no-repeat;
}

.tabletSearch {
    display: none;
}

.btnSearch {
    display: none;
}
/* BACK TO CATALOG */

.back {
    width: 100%;
    height: 64px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fff;
}

.back a {
    display: inline-block;
    margin-left: 90px;
    padding-top: 18px;
    font: 26px FuturaPTDemi;
    letter-spacing: .03em;
}
    
.back a:hover {
    animation: bagOpac 3s ease;
    animation-iteration-count: infinite;
        
}

/* BAG */

.bag {
    width: 100%;
    padding-top: 30px;
    background-color: #fff;
}

.itemConteiner {
    width: 90.76923076923077%;
    margin: 0 auto;
}

.item {
    float: left;
    width: 50%;
    height: 431px;
}

.itemPreview {
    float: left;
    width: 44.91525423728814%; /*265*/
}

.item img {
    width: 90.56603773584906%; /*240*/
    height: auto;
}
    
.item img:hover {
    opacity: .6;
    cursor: pointer;
}

.itemPrice {
    width: 90.56603773584906%;
    padding-top: 2px;
    font: 14px/65px HelveticaNeue;
    letter-spacing: .03em;
    text-align: center;
}

.itemOverview {
    float: left;
    width: 55.08474576271186%; /*325*/
    font: 12px/24px HelveticaNeue;
    letter-spacing: .03em;
}

.itemName {
    width: 70%;
    padding-top: 7px;
    padding-left: 2px;
    font: 14px/24px HelveticaNeueBold;
    letter-spacing: .03em;
}

.itemColor {
    padding-top: 8px;
}

.itemColor, .itemQuantity, .itemSize {
    padding-left: 2px;
}

.removeItem {
    width: 90px;
    margin-top: 22px;
    padding-left: 2px;
    font: 13px OpenSansBold;
    letter-spacing: .03em;
    color: #f14a58;
    cursor: pointer;
}

.bagDown {
    width: 100%;
    height: 205px;
    margin-top: 26px;
    border-top: 1px solid #e5e5e5;
}

.discountInfo {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding-left: 18.07692307692308%; /*235 */
    font: 12px FuturaPTDemi;
    letter-spacing: .03em;
    background-color: #f7f7f7;
}

.discountInfo:before {
    content:'';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}    
    
.bagControl {
    width: 90.76923076923077%;
    margin: 0 auto;
}

.emptyBag {
    float: left;
    width: 15%;
    margin-left: 2.711864406779661%; /*32*/
    padding-top: 33px;
    font: 13px/65px RobotoBold;
    letter-spacing: .03em;
}

.emptyBag span{
    cursor: pointer;
}

.buyNow {
    position: relative;
    float: left;
    width: 28.64406779661017%; /*338*/
    height: 73px;
    margin-top: 30px;
    margin-left: 17.88135593220339%; /*211*/
    font: 26px FuturaPTDemi;
    letter-spacing: .03em;
    text-align: center;
    cursor: pointer;
    border-top: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid rgb(228,228,228);
    border-bottom: 1px solid rgb(190,190,190);
    box-shadow:
        1px 0px rgb(229,229,229), 1px 1px rgb(190,190,190),
        2px 1px rgb(228,228,228), 2px 2px rgb(189,189,189);
}

.buyNow:before {
    content:'';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}    
    
.buyNow:hover {
    border-top: 1px solid #ed4251;
    border-left: 1px solid #ed4251;
    border-right: 1px solid rgb(237,66,81);
    border-bottom: 1px solid rgb(209,20,39);
    box-shadow:  
        1px 0px rgb(237,66,81), 1px 1px rgb(209,20,39),
        2px 1px rgb(236,65,80), 2px 2px rgb(208,19,38); 
}
    
.buyNow:active {
    top: 2px;
    left: 2px;
    box-shadow: -1px 0px rgb(237,66,81), -1px -1px rgb(209,20,39);
}
    
.cost {
    float:right;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 15%;
    padding-top: 45px;
    padding-right: 2.542372881355932%; /*30*/
}

.costTopic {
    width: 100%;
    font: 12px/30px HelveticaNeue;
    letter-spacing: .03em;
    text-align: right;
}

.costSum {
    width: 100%;
    font:18px/12px FuturaPTDemi;
    letter-spacing: .03em;
    text-align: right;
}

/* FOOTER */

footer {
    width: 100%;
    border-top: 1px solid #e5e5e5;
    background-color: #fff;
}

.links {
    width: 100%;
    height: 448px;
    border-bottom: 1px solid #e5e5e5;
}

.linksLeft {
    float: left;
    width: 49.9%; /*649*/
    height: 448px;
    border-right: 1px solid #e5e5e5;
}

.lLCol1 {
    float: left;
    width: 40.83204930662558%; /*265*/
    height: 448px;
    padding-left: 9.244992295839753%;
}

.linksHead {
    margin-top: 30px;
    font: 18px/65px FuturaPTDemi;
    letter-spacing: .03em;
}

.linksList {
    margin-top: 13px;
    margin-left: 1px;
    list-style-type: none;
    font: 14px/40px HelveticaNeue;
    letter-spacing: .03em;
}
    

.linksList a:hover
{
    display:inline-block;
    animation: swing 1s ease;
    animation-iteration-count: 1;
}  

.linksRight {
    float: left;
    width: 45.384%; /*590*/
    padding-left: 4.61%; /*60*/
}

.lRTop {
    height: 160px;
}

.lRTopLeft {
    float: left;
    width: 44.91525423728814%; /*265*/
    height: 160px;
}

.lRTopLeftText {
    padding-left: 8.679245283018868%; /*23*/
    font: 14px/10px HelveticaNeue;
    letter-spacing: .03em;
    background-image: url("../img/start/footer/twG.png");
    background-repeat: no-repeat;
    background-position: left center;
    
}

.lRTopLeftText span {
    font-family: HelveticaNeueBold;
}

.lRTopRight {
    float: left;
}

.lRTopRightText {
    font: 14px/10px HelveticaNeue;
    letter-spacing: .03em;
}

.lRMiddle {
    width: 51.69491525423729%;/*305/590*/
    margin-top: 18px;
    margin-bottom: 37px;
    font: 16px/30px TimesItalic;
    letter-spacing: -0.005em;
    color: #757575;
}

.social {
    float: left;
    margin-right: 25px;
}

.down {
    width: 90.76923076923077%;
    height: 80px;
    margin: 0 auto;
}

.copyrate {
    float: left;
    width: 26%;/*260*/
    height: 100%;
    font: 12px HelveticaNeueBold;
    letter-spacing: .03em;
    color: #000;    
}

.copyrate:before {
    content:'';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}    
.share {
    float:left;
    margin-left: 19.5%; /*303*/
    width: 13%;
    height: 100%;
    font: 18px FuturaPTDemi;
    letter-spacing: .03em;
}
    
.share:before {
    content:'';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.shareMind {
    display: inline-block;
    width: 38%; /*45/110*/
    margin-left: 0px;
    padding-top:10px;
    height: 21px;
    padding-left: 9px;
    font: 12px HelveticaNeue;
    letter-spacing: .03em;
    background-image: url("../img/start/footer/share.png");
    background-repeat: no-repeat;
    background-position: left center;
}

.downMenu {
    float:right;
    list-style-type: none;
    width:  36% /*360*/;
    height: 100%;  
    text-align: right;  
}
.downMenu:before {
    content:'';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.downMenu li {
    display: inline-block;
    margin-left: 9.4%;  /*40/332/1180*/
    margin-top: 7px;
    font: 12px HelveticaNeueBold;
    letter-spacing: .03em;
}
   
 
    
    
}

@media (min-width: 1025px) and (max-width: 1300px) {
.mainMenu {
    width: 79vw; /*1050.2/1180*/
}

.mainMenu li {
    margin-right: 3.9vw;  /* 63/1060*/
} 
/* BAG */
.bag {
    padding-top: 2.307692307692308vw;
}

.item {
    height: 33.15384615384615vw;
}
    
.itemPrice {
    line-height: 5vw;
}

.itemOverview {
    line-height: 1.846153846153846vw;
}    
    

.itemName {
    line-height: 1.846153846153846vw;
}

.removeItem {
    margin-top: 1.692307692307692vw;

}

.bagDown {
    height: 15.76923076923077vw;
    margin-top: 2vw;
}

.discountInfo {
    height: 3.076923076923077vw;
}


.emptyBag {
    padding-top: 2.538461538461538vw;
}


.buyNow {
    height: 5.615384615384615vw;
    margin-top: 2.307692307692308vw;
}
    
.cost {
    padding-top: 3.461538461538462vw;
}


/* FOOTER */
.links , .linksLeft, .lLCol1 {
    height: 34.46153846153846vw;
}

.linksHead {
    margin-top: 2.307692307692308vw;
}

.lRTop, .lRTopLeft {
    height: 12.30769230769231vw;
}

.lRMiddle {
    margin-top: 1.384615384615385vw;
    margin-bottom: 2.846153846153846vw;
}

.down {
    height: 6.923076923076923vw;
}



}