@import url("fonts.css");

.clearfix { 
    display: block; 
}
.clearfix:after { 
    content: ""; 
    display: block; 
    clear: both; 
    visibility: hidden; 
    line-height: 0; 
    height: 0; 
    margin: 0; 
    padding: 0; 
}
@media (min-width: 0px) and (max-width:479px) {
body {
    max-width: 479px;
    min-width: 280px;
    margin: 0 auto;
    background-color:#fff;
    color: #000;
    font-size: 16px;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #000;
}
a:link {color: #000;} 
a:visited {color: #000;}  
a:active {color: #000;}

header {
    position: relative;
    width: 100%; /*375*/
    height: 69px;
    background-color: #fff;
}

.stickyHeader {
    position: fixed;
    top: 0px;  
    z-index: 3001;
    width:inherit;
    height: 69px;
    background-color: #fff;
}    
    
.headTop {
    float: left;
    width: 80%;/*300*/
    margin-left: 5.333333333333333%; /*20*/
    height: 69px;
}

h1.logo_tm {
    float: left;
    width: 13.33333333333333%; /*40/300*/
    margin-top: 1px;
    font: 1.5em/65px FuturaPTHeavy;
    letter-spacing: .03em;
}

.login_bag {
    float: left;
    width: 60%;/*180/300*/
    margin-top: 28px;
    font: .75em HelveticaNeue;
    letter-spacing: .03em;
}

.emailSign {
    display:none;
}

.bagIn {
    display: inline-block;
    margin-left: 22.77777777777778%;/*41/180*/
    text-align: left;
    cursor: pointer;
}

.mainNav {
    z-index: 3025 !important;
    float: right;
    width: 14.3%; /*54/375*/
    height: 69px;
    border-left: 1px solid #e5e5e5;
    background-image: url("../img/start/mobile/mobile_menu.png");
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    overflow: hidden;
    
}

  
    
.closeMainMenu {
    display: none;
    width: 100%;
    height: 69px;
    background-color: rgba(255,255,255,0.5);
    background-image: url("../img/start/mobile/mainMenuClose.png");
    background-repeat: no-repeat;
    background-position: 94.66666666666667% center;
    cursor: pointer;        
}    

.mainMenu {
    display:none;
    z-index: 3025;
    width: 100%;  /*670/690*/ 
    border-top: 1px solid #e5e5e5;
    padding-top: 14px;
    padding-left: 5.333333333333333%;
    list-style-type: none;
    font: 1.75em/60px FuturaPTDemi;
    letter-spacing: .03em;
    background-color: #fff;
}

.searchAround {
    display: none;
    width: 100%;
    background-color: #fff;
    overflow: hidden;
}

.mobileSearch {
    width: 40.53333333333333%; /*152*/
    height: 20px;
    border: none;
    border-bottom: 2px solid #e5e5e5;
    margin-top: 50px;
    margin-bottom: 25px;
    margin-left: 5.333333333333333%; 
    padding-right:15px;
    padding-bottom: 5px;
    font: .75em FuturaPTDemi;
    letter-spacing: .03em;
    color: #a8a8a8;
    text-align: left;
    background-image: url("../img/start/start_search.png");
    background-position: 100% 5px;
    background-repeat: no-repeat;
}
    
.search {
    display: none;
}    
.tabletSearch {
    display: none;
}
    
.btnSearch {
    display: none;
}    

/* FILTERS */

.filters {
    z-index: 0;
    width: 100%;
    height: 55px;
    background-color: #fff;
}

.fMenu {
    display: none;
}

.stickyFTabletMenu {
    display: block;
    position: fixed !important;
    z-index: 2005;
    width: 100%;
    height: 54px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fff;    
}   
    
.fTabletMenu {
    display: block;
    position: relative;
    width: 100%;
    height: 54px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fff;
}

    
.fTabletMenuList {
    position: relative;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;/*375*/
    padding-left: 5.333333333333333%;/*20*/ 
    height: 54px;
    cursor: pointer;
    font: .875em FuturaPTDemi;
    letter-spacing: .03em;
    line-height: 50px;
    overflow: hidden;
}
    
.fTabletMenuList span {
    
}

.arrow {
    position: absolute;
    top: 0;
    left: 100%;
    display: inline-block;
    width: 14.4%; /*54*/
    height: 54px;
    margin-left: -14.4%;
    background-image: url("../img/catalog/menu.png"), linear-gradient(to right, rgba(255,255,255,0.9),rgba(255,255,255,1) 30%, rgba(255,255,255,1) 100%);
    background-repeat: no-repeat;
    background-position: center center;
}
    
.dropDownMenu {
    display: none;
    position: absolute;
    z-index: 3005;
    top:0;
    width: 100%;
    overflow: hidden;
}
    
.dDMenuClose {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 54px;
    padding-right: 5.333333333333333%;/*20*/
    border-bottom: 1px solid #e5e5e5;
    background: linear-gradient(to right, rgba(255,255,255,0.5),rgba(255,255,255,1) 90%, rgba(255,255,255,1) 100%);
    text-align: right;
}
    
.btnMenuClose {
    display: inline-block;
    width: 36px; 
    height: 53px;
    background-image: url("../img/catalog/clouseMenu.png");
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}
    
.dDMenuList {
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    }

.dDMenuHead {
    width: 40%;
    margin-bottom: 25px;
    margin-left: 5.333333333333333%;/*20*/
    padding-top: 11px;
    padding-left: 1px;
    font: .875em/30px TimesItalic;
    letter-spacing: 0em;
}
    
.dDMenuItem {
    width: 350%; /**/
    margin-bottom: 12px;
}
    
.dDMenuItem:last-child {
    margin-bottom: 22px;
}
    
.dDItemName {
    width: 15%;
    margin-left: 1.777777777777778%;/*20*/
    padding-left: 1px;
    font: .75em HelveticaNeueBold;
    letter-spacing: .03em;
}

.dDItemList {
    display: inline-block;
    margin-left: 1.777777777777778%;/*20*/ 
    font: 1.75em/48px FuturaPTDemi;
    letter-spacing: .03em;
    color: #a8a8a8;
    cursor: pointer;
}

.dDItemList  span {
    display: inline-block;
}

    .dDItemList  span:first-child {
        color: #000;
    }    
    
.dropDownMenuFon {
    width: 100%;
    background-color: rgba(94,102,108,0.3);
}   
    
    
/* ARRIVALS */

.arrivals {
    width: 100%; /*375*/
    background-color: #fff;
    padding-top: 5.6vw;
    overflow: hidden;
}

.arrConteiner {
    width: 89.33333333333333%; /*335*/
    margin: 0 auto; 
    overflow: hidden;
}


.arrItem {
    position: relative;
    float: left;
    width: 47.16417910447761%; /*158*/
    height: 97.6vw;
    margin-right: 5.671641791044776%;/*19*/
    margin-bottom: 0px;
    font-size: 1em;/*14*/
}

.arrItem:nth-of-type(2n+2) {
    margin-right: 0;
}
.arrItem:nth-of-type(n+9) {
    display: none;
}

.arrItem img {
    width: 100%;
    height: 59.46666666666667vw;
}

.itemName {
    width: 95%;
    margin: 0 auto;
    margin-top: 6.933333333333333vw;
    font: .75em/20px HelveticaNeueBold;
    letter-spacing: .03em;
    text-align: center;
}

.itemPrice {
    width: 90%;
    margin: 0 auto;
    margin-top: 2px;
    font: .75em/28px HelveticaNeue;
    letter-spacing: .03em;
    text-align: center;
}

.itemPrice span{
    font: 1.166666666666667em/26px TimesItalic;
    letter-spacing: 0em;
    color: #757575;
    text-align: center;
}

.itemPrice span.itemPriceOld {
    font: 1em/26px HelveticaNeue;
    letter-spacing: .03em;
    color:#757575;
    text-align: center;
}


.itemShadow {
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 59.46666666666667vw;
    background-color: rgba(94,102,108,0.3);
}
    
.itemShadowName {
    width: 100%;
    margin-top: 40.8vw;
    font: 26px/25px FuturaPTDemi;
    letter-spacing: .025em;
    color: #fff;
    text-align: center;
}

.itemShadowInfo {
    width: 100%;
    margin-top: 1px;
    font: 14px/26px TimesItalic;
    letter-spacing: 0em;
    color: #fff;
    text-align: center;
}
    
.quickView {
    display: none;
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
    position: absolute;
    z-index: 2000;
    top: 0px;
    width: 100%;
    padding-top: 50px;
    font: 1.25em/65px FuturaPTDemi;
    letter-spacing: .03em;
    color: #f14a58;
    text-align: center;
    background-color: rgba(94,102,108,0.3);
    
}

.morePhotos {
    margin-top: -13px;
    width: 100%;
    color: #fff;
    text-align: center;
}

/* BANNER IN ARRIVALS */

.aBanner {
    position: relative;
    top: 0px;
    display: block;
    clear: both;
    width: 100%;
    padding-top: 2px;
    margin-bottom: 17.6vw;
}

.arrbannerTopic {
    width: 75%;
    margin: 0 auto;
    font: 1.25em/30px FuturaPTDemi;
    letter-spacing: .03em;
    text-align: center;
}

.arrbannerTopic span {
    color: #f14a58;
}

.arrbannerInfo {
    width: 80%;
    margin: 0 auto;
    padding-top: 11px;
    font: .875em/28px TimesItalic;
    letter-spacing: -0.004em;
    text-align: center;
}


.showMore {
    position: relative;
    clear: both;
    width: 58.13333333333333%;/*218*/
    height: 16vw;
    margin: 0 auto;
    margin-top: -2px;
    margin-bottom:26.66666666666667vw;
    font: 1.25em FuturaPTDemi;
    letter-spacing: .03em;
    text-align: center;
    cursor: pointer;
    border-top: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid rgb(228,228,228);
    border-bottom: 1px solid rgb(190,190,190);
    box-shadow:
        1px 0px rgb(229,229,229), 1px 1px rgb(190,190,190),
        2px 1px rgb(228,228,228), 2px 2px rgb(189,189,189);
    
}

.showMore:before {
    content:'';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}
    
.showMore:hover {
    border-top: 1px solid #ed4251;
    border-left: 1px solid #ed4251;
    border-right: 1px solid rgb(237,66,81);
    border-bottom: 1px solid rgb(209,20,39);
    box-shadow:  
        1px 0px rgb(237,66,81), 1px 1px rgb(209,20,39),
        2px 1px rgb(236,65,80), 2px 2px rgb(208,19,38);
}

.showMore:active {
    top: 2px;
    left: 2px;
    box-shadow: -1px 0px rgb(237,66,81), -1px -1px rgb(209,20,39);
}    
    
/* DOWN BANNER*/ 

.banner {
    width: 100%;/*768*/
    height: 63.2vw;
    border-top: 1px solid #e5e5e5;
    background-color: #fff;
}

.banSec1 {
    float: left;
    width: 100%; /**/
    height: 63.2vw;
    overflow: hidden;
}

.banSec1Slider {
    width: 100%; /**/
    height: 189.6vw;
    transition: margin-top 650ms;
}

.banSec1Top1 {
    display: block;
    width: 100%;
    height: 63.2vw;
    background-image: url("../img/start/slide_2/1_adidas.png");
    background-size: 100% 100%;
}

.banSec1Text1 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%; /*375*/
    margin: 0;
    padding-top: 9.066666666666667vw;
    padding-right: 10.4%;/*39*/
    font: 1.5em FuturaPTDemi;
    letter-spacing: .03em;
    color: #fff;
    text-align: right;
}

.banSec1Text2 {
    float: right;
    margin-top: 10px;
    margin-right:  10.4%;/*39*/
    width: 34.66666666666667%; /*130*/
    font: .875em TimesItalic;
    letter-spacing: 0em;
    color: #fff;  
    text-align: center;
}

.banSec1Top2 {
    display: block;
    width: 100%;/*375*/
    height: 63.2vw;
    background-image: url("../img/start/slide_2/1_reebok.png");
    background-size: 100% 100%;
}

.banSec1Top3 {
    display: block;
    width: 100%;/**/
    height: 63.2vw;
    background-image: url("../img/start/slide_2/1_adisas2.png");
    background-size: 100% 100%;
}

.banSec2 {
    display: none;
}

.bS2Right {
    display: none;
}

footer {
    width: 100%;
    height: 585px;
    border-top: 1px solid #e5e5e5;
    background-color: #fff;
}

.links {
    width: 100%; /*375*/
    height: 450px;
    margin: 0 auto;
}

.linksLeft {
    width: 100%;  /*375*/
    height: 339px;
    border-bottom: 1px solid #e5e5e5;
}

.lLCol1, .lLCol2 {
    float: left;
    width: 50%; /* 187.5*/
   
}
    
.linksHead {
    margin-top: 10px;
    margin-left: 10.66666666666667%; /*20*/
    font: .875em/65px FuturaPTDemi;
    letter-spacing: .03em;
}

.linksList {
    margin-top: -1px;
    margin-left: 10.66666666666667%; /*20*/
    list-style-type: none;
    font: .75em/36px HelveticaNeue;
    letter-spacing: .03em;
}

.linksRight {
    float: left;
    width: 100%; /*375*/
}

.linksRight .linksHead {
    margin-top: -2px;
}
    
.lRTop {
    width: 100%; /**/
    height: 109px;
    border-bottom: 1px solid #e5e5e5;
}

.lRTopLeft {
    float: left;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    height: 109px;
    border-right: 1px solid #e5e5e5; 
}

.lRTopLeftText {
    height: 11px;
    margin-top: -9px;
    margin-left: 10.66666666666667%; /*20*/
    padding-left: 13.33333333333333%; /*25*/
    font: .75em/10px HelveticaNeue;
    letter-spacing: .02em;
    background-image: url("../img/start/footer/twG.png");
    background-repeat: no-repeat;
    background-position: left top;
    
}

.lRTopLeftText span {
    font-family: HelveticaNeueBold;
}

.lRTopRight {
    float: left;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
}

.lRTopRightText {
    margin-top: -7px;
    margin-left: 10.66666666666667%; /*20*/
    font: .75em/7px HelveticaNeue;
    letter-spacing: .03em;
}

.lRMiddle {
    display: none;
}

.social {
    float: left;
    display: block;
    margin-top: 26px; 
}
.social:nth-of-type(2) {
    margin-top: 27px;
    margin-left: 25px;
}
    
.socialAround {
    float: left;
    width: 17.86666666666667%;/*67/375*/
    height: 64px;
    border-bottom: 1px solid #e5e5e5;
}    

.down {
    width: 100%;   
    height: 135px;
    margin: 0 auto;
    font-size: .625em;/*10*/
}

.copyrate {
    float: left;
    width: 62%;  /*247*/
    margin-top: -1px;
    margin-left: 5.333333333333333%;/*20*/
    font-family: HelveticaNeueBold;
    letter-spacing: .036em;
    line-height: 65px;
    color: #000;    
}

.share {
    float:right;
    margin-top: -2px;
    margin-right: 5.333333333333333%;  /*20*/
    width: 26%; /*88*/
    font: 1.6em/30px FuturaPTDemi;
    letter-spacing: .03em;
}

.shareMind {
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 44%; /*40/88*/
    padding-left: 11.36%;
    font: .625em/67px HelveticaNeue;
    letter-spacing: .03em;
    background-image: url("../img/start/footer/share.png");
    background-repeat: no-repeat;
    background-position: left center;
}

.downMenu {
    float: left;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width:  82.13333333333333% /*308*/;
    padding-left: 5.333333333333333%;/*20*/
    text-align: left;
    list-style-type: none;
    border-bottom: 1px solid #e5e5e5;
}


.downMenu li {
    display: inline-block;
    margin-top: -1px;
    margin-right: 5.194805194805195%;  /*16/308*/
    font-family: HelveticaNeueBold;
    letter-spacing: .03em;
    line-height: 65px;
}
    
    
}

@media (max-width: 374px) {
    
body {
    font-size: 12px;
}
.mainNav {
    width: 14%; /*54/375*/
}    
}



