@import url("fonts.css");
.clearfix {display: block;}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  margin: 0;
  padding: 0;
  line-height: 0;
  visibility: hidden;
}
@media (min-width: 0px) and (max-width: 479px) {
  body {
    max-width: 479px;
    min-width: 280px;
    margin: 0 auto;
    font-size: 16px;
    color: #000;
    background-color: #fff;
  }
  a,
  a:link,
  a:visited,
  a:active {
    text-decoration: none;
    cursor: pointer;
    color: #000;
  }
  header {
    position: relative;
    width: 100%;
    height: 69px;
    background-color: #fff;
  }
  .sticky-header {
    position: fixed;
    top: 0px;
    z-index: 3001;
    width: 100%;
    height: 69px;
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
  }
  .head-top {
    float: left;
    width: 80%;
    margin-left: 5.333333333333333%;
    height: 70px;
  }
  h1.logo {
    float: left;
    width: 13.33333333333333%;
    font: bold 1.5em/65px OpenSans;
    letter-spacing: .03em;
  }
  .login-bag {
    float: left;
    width: 60%;
    margin-top: 26px;
    font: .75em Roboto;
    letter-spacing: .03em;
  }
  .email-sign {display: none;}
  .bag {
    display: inline-block;
    margin-left: 22.77777777777778%;
    text-align: left;
    cursor: pointer;
  }
  .main-nav {
    float: right;
    width: 14.3%;
    height: 70px;
    border-left: 1px solid #e5e5e5;
    background-image: url("../img/start/mobile/mobile_menu.png");
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
  }
  .close-main-menu {
    display: none;
    width: 100%;
    height: 69px;
    background-color: rgba(255, 255, 255, 0.5);
    background-image: url("../img/start/mobile/mainMenuClose.png");
    background-repeat: no-repeat;
    background-position: 94.66666666666667% center;
  }
  .main-menu__wrap {
    display: none;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .main-menu {
    width: 100%;
    border-top: 1px solid #e5e5e5;
    padding: 13px 0 0 5.333333333333333%;
    font: bold 1.5em/60px OpenSans;
    letter-spacing: .025em;
    background-color: #fff;
    list-style-type: none;
  }
  .search-around {
    display: block;
    width: 100%;
    background-color: #fff;
    overflow: hidden;
  }
  .mobile-search {
    width: 40.53333333333333%;
    height: 20px;
    margin: 51px 0  25px 5.333333333333333%;
    border: none;
    border-bottom: 2px solid #e5e5e5;
    padding: 0px 15px 6px 0;
    font: bold .75em OpenSans;
    letter-spacing: .03em;
    color: #a8a8a8;
    text-align: left;
    background-image: url("../img/start/start_search.png");
    background-position: 100% 5px;
    background-repeat: no-repeat;
  }
  .search,
  .tablet-search {display: none;}
  .btn-search {display: none !important;}
  .back {
    width: 100%;
    height: 55px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fff;
  }
  .back a {
    display: inline-block;
    margin-left: 9.333333333333333%;
    padding-top: 16px;
    font: bold 1.125em OpenSans;
    letter-spacing: .03em;
  }
  .bag-main {
    width: 100%;
    padding-top: 4vw;
    background-color: #fff;
  }
  .conteiner {
    width: 89.33333333333333%;
    margin: 0 auto;
    text-align: center;
    font-family: Roboto;
  }
  .item {
    width: 100%;
    margin-bottom: 5.8vw;
    text-align: left;
    overflow: hidden;
  }
  .item__preview {
    float: left;
    width: 53.73134328358209%;
  }
  .item img {
    width: 87.77777777777778%;
    height: 59.46666666666667vw;
  }
  .quick-view {
    box-sizing: border-box;
    position: absolute;
    display: none;
    z-index: 2000;
    top: 0px;
    width: 100%;
    padding-top: 50px;
    font: bold 1.25em/65px OpenSans;
    letter-spacing: .03em;
    color: #f14a58;
    text-align: center;
    background-color: rgba(94, 102, 108, 0.3);
  }
  .item__price {
    width: 87.77777777777778%;
    padding-top: 1px;
    font: .75em Roboto;
    letter-spacing: .03em;
    text-align: center;
  }
  .item__overview {
    float: left;
    width: 41.33333333333333%;
    font: 0.625em/5.33333333vw Roboto;
    letter-spacing: .03em;
  }
  .item__name {
    width: 70%;
    padding-top: 2.666666666666667vw;
    font: bold 1.2em/5.33333333vw Roboto;
    letter-spacing: .03em;
  }
  .item__color {
    padding-top: 1.9vw;
  }
  .item__color,
  .item__quantity,
  .item__size {
    padding-left: 0px;
  }
  .item__remove {
    display: inline-block;
    margin-top: 6.133333333333333vw;
    font: bold 1.1em OpenSans;
    letter-spacing: .03em;
    color: #f14a58;
    cursor: pointer;
  }
  .bag__down {
    width: 100%;
    margin-top: 9.333333333333333vw;
    border-top: 1px solid #e5e5e5;
  }
  .discount-info {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 14.13333333333333vw;
    padding: 2.3vw 6% 0;
    font: bold 0.625em/4.26666667vw OpenSans;
    letter-spacing: .04em;
    background-color: #f7f7f7;
    text-align: center;
  }
  .bag__control {
    width: 89.33333333333333%;
    margin: 0 auto;
  }
  .bag__empty {
    float: left;
    width: 28.95522388059701%;
    padding-top: 11.2vw;
    font: 0.625em/18px Roboto;
    letter-spacing: .03em;
  }
  .bag__empty span {
    cursor: pointer;
  }
  .buy-now {
    position: relative;
    float: left;
    width: 41.19402985074627%;
    height: 16.4vw;
    margin: 5.333333333333333vw auto 9.333333333333333vw;
    font: bold 1.125em OpenSans;
    letter-spacing: .03em;
    text-align: center;
    background-color: #fff;
    cursor: pointer;
    border-top: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #bebebe;
    box-shadow: 1px 0px #e5e5e5, 1px 1px #bebebe, 2px 1px #e4e4e4, 2px 2px #bdbdbd;
  }
  .buy-now:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }
  .buy-now:hover {
    border-top: 1px solid #ed4251;
    border-left: 1px solid #ed4251;
    border-right: 1px solid #ed4251;
    border-bottom: 1px solid #d11427;
    box-shadow: 1px 0px #ed4251, 1px 1px #d11427, 2px 1px #ec4150, 2px 2px #d01326;
  }
  .buy-now:active {
    top: 2px;
    left: 2px;
    box-shadow: -1px 0px #ed4251, -1px -1px #d11427;
  }
  .cost {
    float: right;
    box-sizing: border-box;
    width: 28.95522388059701%;
    padding-top: 9vw;
  }
  .cost__topic {
    width: 100%;
    font: .625em Roboto;
    letter-spacing: .03em;
    text-align: right;
  }
  .cost__sum {
    width: 100%;
    padding-top: 5px;
    font: bold .875em Roboto;
    letter-spacing: .03em;
    text-align: right;
  }
  footer {
    width: 100%;
    height: 585px;
    border-top: 1px solid #e5e5e5;
    background-color: #fff;
  }
  .links {
    width: 100%;
    height: 450px;
    margin: 0 auto;
  }
  .links .left {
    width: 100%;
    height: 339px;
    border-bottom: 1px solid #e5e5e5;
  }
  .quick-links,
  .customer-links {
    float: left;
    width: 50%;
  }
  .links__head {
    margin: 9px 0 0 10.66666666666667%;
    font: bold .875em OpenSans;
    line-height: 65px;
    letter-spacing: .03em;
  }
  .links__list {
    margin: -1px 0 0 10.66666667%;
    font: 0.75em/36px Roboto;
    letter-spacing: .03em;
    list-style-type: none;
  }
  .links .right {
    float: left;
    width: 100%;
  }
  .links .right .links__head {
    margin-top: -3px;
  }
  .links .right-top {
    width: 100%;
    height: 109px;
    border-bottom: 1px solid #e5e5e5;
  }
  .right-top .questions {
    float: left;
    box-sizing: border-box;
    width: 50%;
    height: 109px;
    border-right: 1px solid #e5e5e5;
  }
  .questions__text {
    height: 11px;
    margin: -9px 0 0 10.66666667%;
    padding-left: 13.33333333333333%;
    font: 0.75em/10px Roboto;
    letter-spacing: .02em;
    background-image: url("../img/start/footer/twG.png");
    background-repeat: no-repeat;
    background-position: left top;
  }
  .questions__text span {
    font-weight: bold;
  }
  .phone {
    float: left;
    box-sizing: border-box;
    width: 50%;
  }
  .phone_text {
    margin: -7px 0 0 10.66666667%;
    font: 0.75em/7px Roboto;
    letter-spacing: .03em;
  }
  .about {
    display: none;
  }
  .social {
    float: left;
    display: block;
    margin-top: 26px;
  }
  .social:nth-of-type(2) {
    margin-left: 25px;
  }
  .social-around {
    float: left;
    width: 17.86666666666667%;
    height: 64px;
    border-bottom: 1px solid #e5e5e5;
  }
  .down {
    width: 100%;
    height: 135px;
    margin: 0 auto;
  }
  .copyrate {
    float: left;
    width: 62%;
    margin: -1px 0 0 5.33333333%;
    font: bold 0.625em/65px Roboto;
    letter-spacing: .03em;
    color: #000;
  }
  .share {
    float: right;
    width: 26%;
    height: 65px;
    margin: 0 3.4% 0 0;
    font: bold .875em OpenSans;
    letter-spacing: .03em;
  }
  .share:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .share-mind {
    position: relative;
    top: -2px;
    display: inline-block;
    box-sizing: border-box;
    width: 44%;
    height: 21px;
    padding: 2px 2px 2px 9%;
    font: 0.714em Roboto;
    letter-spacing: .03em;
    background-image: url("../img/start/footer/share.png");
    background-repeat: no-repeat;
    background-position: left center;
  }
  .down__menu {
    float: left;
    box-sizing: border-box;
    width: 82.13333333%;
    border-bottom: 1px solid #e5e5e5;
    padding-left: 5.333333333333333%;
    text-align: left;
    list-style-type: none;
  }
  .down__menu li {
    display: inline-block;
    margin: -1px 4.6% 0 0;
    font: bold 0.625em/65px Roboto;
    letter-spacing: .03em;
  }
}
@media (max-width: 374px) {
  body {font-size: 12px;}
  .main-nav {width: 14%;}
}
