@import url("fonts.css");
.clearfix {
  display: block;
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  margin: 0;
  padding: 0;
  line-height: 0;
  visibility: hidden;
}
@media (min-width: 0px) and (max-width: 479px) {
  body {
    max-width: 479px;
    min-width: 280px;
    margin: 0 auto;
    font-size: 16px;
    color: #000;
    background-color: #fff;
  }
  a,
  a:link,
  a:visited,
  a:active {
    text-decoration: none;
    cursor: url("../img/cursor.cur"), pointer;
    color: #000;
  }
  header {
    position: relative;
    width: 100%;
    height: 70px;
    background-color: #fff;
  }
  .sticky-header {
    position: fixed;
    top: 0px;
    z-index: 3001;
    width: 100%;
    height: 70px;
    background-color: #fff;
  }
  .head-top {
    float: left;
    width: 80%;
    margin-left: 5.333333333333333%;
    height: 70px;
  }
  h1.logo {
    float: left;
    width: 13.33333333333333%;
    font: bold 1.5em/65px OpenSans;
    letter-spacing: .03em;
  }
  .login-bag {
    float: left;
    width: 60%;
    margin-top: 26px;
    font: .75em Roboto;
    letter-spacing: .03em;
  }
  .email-sign {
    display: none;
  }
  .bag {
    display: inline-block;
    margin-left: 22.77777777777778%;
    text-align: left;
    cursor: pointer;
  }
  .main-nav {
    float: right;
    width: 14.3%;
    height: 70px;
    border-left: 1px solid #e5e5e5;
    background-image: url("../img/start/mobile/mobile_menu.png");
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    overflow: hidden;
  }
  .close-main-menu {
    display: none;
    width: 100%;
    height: 69px;
    background-color: rgba(255, 255, 255, 0.5);
    background-image: url("../img/start/mobile/mainMenuClose.png");
    background-repeat: no-repeat;
    background-position: 94.66666666666667% center;
    cursor: pointer;
  }
  .main-menu__wrap {
    display: none;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .main-menu {
    width: 100%;
    border-top: 1px solid #e5e5e5;
    padding: 13px 0 0 5.333333333333333%;
    font: bold 1.5em/60px OpenSans;
    letter-spacing: .025em;
    background-color: #fff;
    list-style-type: none;
  }
  .search-around {
    display: block;
    width: 100%;
    background-color: #fff;
    overflow: hidden;
  }
  .mobile-search {
    width: 40.53333333333333%;
    height: 20px;
    margin: 51px 0  25px 5.333333333333333%;
    border: none;
    border-bottom: 2px solid #e5e5e5;
    padding: 0px 15px 6px 0;
    font: bold .75em OpenSans;
    letter-spacing: .03em;
    color: #a8a8a8;
    text-align: left;
    background-image: url("../img/start/start_search.png");
    background-position: 100% 5px;
    background-repeat: no-repeat;
  }
  .search,
  .tablet-search {display: none;}
  .btn-search {display: none !important;}
  .carousel-conteiner {
    position: relative;
    width: 100%;
    height: 141.3333333333333vw;
    background-color: #fff;
    overflow: hidden;
  }
  .carousel {
    width: 400%;
    list-style-type: none;
    overflow: hidden;
  }
  .carousel li {
    display: inline-block;
    width: 25%;
    height: 141.3333333333333vw;
    overflow: hidden;
  }
  .pointer {
    position: absolute;
    top: 126.6666666666667vw;
    width: 100%;
    height: 14.4vw;
    border-top: 1px solid rgba(0, 0, 0, 0.07);
    padding-top: 4.533333333333333vw;
    text-align: center;
    list-style-type: none;
  }
  .pointer li {
    display: inline-block;
    margin-right: 22px;
  }
  .pointer li:last-child {margin-right: 0;}
  .circle {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
  .pointer li:first-child .circle {background-color: #f14a58;}
  .carousel__item-1 {
    width: 100%;
    height: 141.3333333333333vw;
    background-image: url("../img/start/mobile/slide_1/1.png");
    background-size: 100% 100%;
    overflow: hidden;
  }
  .carousel__item-1 .baner {
    width: 68%;
    height: 92vw;
    margin: 0 auto;
    margin-top: 17.33333333333333vw;
    background-color: #fff;
    overflow: hidden;
  }
  .baner__text-1 {
    width: 100%;
    height: 4.533333333333333vw;
    margin-top: 8.2vw;
    font: bold 0.875em OpenSans;
    letter-spacing: .03em;
    text-align: center;
  }
  .baner__text-2 {
    width: 100%;
    margin: 8.8vw auto 0;
    font: bold 3.4375em OpenSans;
    line-height: 20.26666666666667vw;
    letter-spacing: .05em;
    text-align: center;
    color: #f14a58;
  }
  .baner__text-3 {
    width: 100%;
    height: 14px;
    margin-top: 14.6vw;
    padding-left: 6px;
    font: 0.875em Roboto;
    line-height: 12px;
    letter-spacing: .03em;
    text-align: center;
  }
  .baner__red-line {
    display: inline-block;
    width: 17.64705882352941%;
    height: 2px;
    margin: 0 4px;
    border-top: 3px solid #f14a58;
  }
  .carousel__item-2 {
    position: relative;
    width: 100%;
    height: 141.3333333333333vw;
    background-color: #f7f7f7;
    overflow: hidden;
  }
  .carousel__item-2 .section-1 {width: 100%;}
  .section-1__top {
    width: 100%;
    height: 63.2vw;
    overflow: hidden;
  }
  .section-1__top .slider {
    width: 100%;
    height: 189.6vw;
    margin-top: 0;
    transition: margin-top 650ms;
  }
  .slider__item-1 {
    display: block;
    width: 100%;
    height: 63.2vw;
    background-image: url("../img/start/tablet/slide_2/1.png");
    background-size: 100% 100%;
  }
  .slider__item-1 .text-1 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 8.8vw;
    padding: 8.8vw 11.2% 0 0;
    font: bold 1.25em OpenSans;
    letter-spacing: .03em;
    color: #fff;
    text-align: right;
  }
  .slider__item-1 .text-2 {
    box-sizing: border-box;
    float: right;
    width: 34.66666666666667%;
    height: 16px;
    margin: 8.9vw 10.4% 0 0;
    font: italic .875em Crimson;
    letter-spacing: 0em;
    color: #fff;
    text-align: center;
  }
  .slider__item-2 {
    display: block;
    width: 100%;
    height: 63.2vw;
    background-image: url("../img/start/slide_2/1_reebok.png");
    background-size: 100% 100%;
  }
  .slider__item-3 {
    display: block;
    width: 100%;
    height: 63.2vw;
    background-image: url("../img/start/slide_2/1_adisas2.png");
    background-size: 100% 100%;
  }
  .section-1__bottom {
    width: 100%;
    height: 63.46666666666667vw;
  }
  .section-1__bottom .left {
    float: left;
    width: 49.8%;
  }
  .section-1__bottom .left a {
    display: block;
    width: 100%;
    height: 63.46666666666667vw;
    background-image: linear-gradient(to top, rgba(94, 102, 108, 0.3), rgba(94, 102, 108, 0.3)), url("../img/start/mobile/silde_2/2.png");
    background-size: 100% 100%;
  }
  .section-1__bottom .left__text-1 {
    width: 100%;
    height: 8.8vw;
    padding-top: 41.8vw;
    font: 1.25em OpenSans;
    letter-spacing: .025em;
    color: #fff;
    text-align: center;
  }
  .section-1__bottom .left__text-2 {
    width: 100%;
    height: 14px;
    margin-top: 3px;
    font: .75em Roboto;
    letter-spacing: .03em;
    color: #fff;
    text-align: center;
  }
  .section-1__bottom .right {
    float: left;
    width: 50%;
  }
  .section-1__bottom .right a {
    display: block;
    width: 100%;
    height: 63.46666666666667vw;
    border-top: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    background-image: url("../img/start/tablet/slide_2/5.png");
    background-size: 100% 100%;
  }
  .section-1__bottom .right__text-1 {
    width: 100%;
    height: 8.8vw;
    padding-top: 41.6vw;
    font: 1.25em OpenSans;
    letter-spacing: .03em;
    color: #f14a58;
    text-align: center;
  }
  .section-1__bottom .right__text-2 {
    width: 100%;
    height: 14px;
    margin: 3px 0 0 -3px;
    font: italic .875em Crimson;
    letter-spacing: 0em;
    color: #757575;
    text-align: center;
  }
  .section-2,
  .section-3 {display: none;}
  .carousel__item-3 {
    width: 100%;
    height: 141.3333333333333vw;
    background-color: #f5de75;
  }
  .carousel__item-3 a {
    position: relative;
    display: block;
    width: 100%;
    height: 141.3333333333333vw;
    background-color: #f5de75;
  }
  .carousel__item-3 img {
    position: absolute;
    top: 17.06666666666667vw;
    left: 27.33333333vw;
    width: 46.66666667vw;
    height: 64.53333333vw;
  }
  .carousel__item-3 .text-1 {
    width: 100%;
    padding-top: 37.3vw;
    font: bold 3.4375em OpenSans;
    letter-spacing: .07em;
    color: #fff;
    text-align: center;
  }
  .carousel__item-3 .text-2 {
    width: 60%;
    margin: 0 auto;
    padding-top: 37.06666666666667vw;
    font: bold 1.125em OpenSans;
    line-height: 8vw;
    letter-spacing: .03em;
    text-align: center;
  }
  .carousel__item-3 .text-2 span {color: #50c1e9;}
  .carousel__item-3 .text-3 {display: none;}
  .carousel__item-4 {
    width: 100%;
    height: 141.3333333333333vw;
    background-color: firebrick;
  }
  .banners {
    width: 100%;
    height: 63.2vw;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fff;
  }
  .banners-left {
    width: 100%;
    height: 63.2vw;
    background-image: url("../img/start/banners/1.png");
    background-size: 100% 100%;
  }
  .banners-left .text-1 {
    float: right;
    width: 50%;
    height: 8.8vw;
    margin-right: 14%;
    padding-top: 8vw;
    font: bold 1.375em OpenSans;
    letter-spacing: .025em;
    text-align: right;
  }
  .banners-left .text-2 {
    float: right;
    width: 20%;
    height: 16px;
    margin-right: 24.53333333333333%;
    padding-top: 3px;
    font: italic .875em Crimson;
    letter-spacing: 0em;
    color: #757575;
    text-align: right;
    clear: right;
  }
  .banners-right,
  .tablet-back,
  .tablet-front {display: none !important;}
  .arrivals {
    width: 100%;
    background-color: #fff;
    overflow: hidden;
  }
  .head-arrivals {
    width: 100%;
    height: 33px;
    margin-bottom: 12vw;
    padding-top: 14.13333333vw;
    font: bold 1.625em OpenSans;
    letter-spacing: .03em;
    color: #000;
    text-align: center;
  }
  .arrivals-conteiner {
    width: 89.33333333333333%;
    margin: 0 auto;
    overflow: hidden;
  }
  .arrivals .item {
    float: left;
    width: 47.16417910447761%;
    height: 83.2vw;
    margin: 0 5.671641791044776% 13.33333333333333vw 0;
  }
  .arrivals .item:nth-of-type(2n+2) {margin-right: 0;}
  .arrivals .item:nth-of-type(n+3) {display: none;}
  .arrivals .item img {
    width: 100%;
    height: 59.46666666666667vw;
  }
  .item__name {
    width: 90%;
    margin: 6.933333333333333vw auto 0;
    font: bold 0.75em Roboto;
    line-height: 20px;
    letter-spacing: .03em;
    text-align: center;
  }
  .item__price {
    width: 70%;
    margin: -1px 15% 0;
    font: 0.75em Roboto;
    line-height: 33px;
    letter-spacing: .03em;
    text-align: center;
  }
  .all-arrivals {
    position: relative;
    display: block;
    width: 58.66666667vw;
    height: 16.53333333vw;
    margin: 5.333333333333333vw auto 28.26666666666667vw;
    padding-left: 13px;
    font: bold 1.125em OpenSans;
    letter-spacing: .03em;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    outline: none;
    border-top: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #bebebe;
    box-shadow:
        1px 0px rgb(229,229,229), 1px 1px rgb(190,190,190),
        2px 1px rgb(228,228,228), 2px 2px rgb(189,189,189);
  }
  .all-arrivals:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }
  .all-arrivals:hover {
    border-top: 1px solid #ed4251;
    border-left: 1px solid #ed4251;
    border-right: 1px solid #ed4251;
    border-bottom: 1px solid #d11427;
    box-shadow: 1px 0px #ed4251, 1px 1px #d11427, 2px 1px #ec4150, 2px 2px #d01326;
  }
  .all-arrivals:active {
    top: 2px;
    left: 2px;
    box-shadow: -1px 0px #ed4251, -1px -1px #d11427;
  }
  footer {
    width: 100%;
    height: 585px;
    border-top: 1px solid #e5e5e5;
    background-color: #fff;
  }
  .links {
    width: 100%;
    height: 450px;
    margin: 0 auto;
  }
  .links .left {
    width: 100%;
    height: 339px;
    border-bottom: 1px solid #e5e5e5;
  }
  .quick-links,
  .customer-links {
    float: left;
    width: 50%;
  }
  .links__head {
    margin: 9px 0 0 10.66666666666667%;
    font: bold .875em OpenSans;
    line-height: 65px;
    letter-spacing: .03em;
  }
  .links__list {
    margin: -1px 0 0 10.66666667%;
    font: 0.75em/36px Roboto;
    letter-spacing: .03em;
    list-style-type: none;
  }
  .links .right {
    float: left;
    width: 100%;
  }
  .links .right .links__head {margin-top: -3px;}
  .links .right-top {
    width: 100%;
    height: 109px;
    border-bottom: 1px solid #e5e5e5;
  }
  .right-top .questions {
    float: left;
    box-sizing: border-box;
    width: 50%;
    height: 109px;
    border-right: 1px solid #e5e5e5;
  }
  .questions__text {
    height: 11px;
    margin: -9px 0 0 10.66666667%;
    padding-left: 13.33333333333333%;
    font: 0.75em/10px Roboto;
    letter-spacing: .02em;
    background-image: url("../img/start/footer/twG.png");
    background-repeat: no-repeat;
    background-position: left top;
  }
  .questions__text span {font-weight: bold;}
  .phone {
    float: left;
    box-sizing: border-box;
    width: 50%;
  }
  .phone_text {
    margin: -7px 0 0 10.66666667%;
    font: 0.75em/7px Roboto;
    letter-spacing: .03em;
  }
  .about {display: none;}
  .social {
    float: left;
    display: block;
    margin-top: 26px;
  }
  .social:nth-of-type(2) {margin-left: 25px;}
  .social-around {
    float: left;
    width: 17.86666666666667%;
    height: 64px;
    border-bottom: 1px solid #e5e5e5;
  }
  .down {
    width: 100%;
    height: 135px;
    margin: 0 auto;
  }
  .copyrate {
    float: left;
    width: 62%;
    margin: -1px 0 0 5.33333333%;
    font: bold 0.625em/65px Roboto;
    letter-spacing: .03em;
    color: #000;
  }
  .share {
    float: right;
    width: 26%;
    height: 65px;
    margin: 0 3.4% 0 0;
    font: bold .875em OpenSans;
    letter-spacing: .03em;
  }
  .share:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .share-mind {
    position: relative;
    top: -2px;
    display: inline-block;
    box-sizing: border-box;
    width: 44%;
    height: 21px;
    padding: 2px 2px 2px 9%;
    font: 0.714em Roboto;
    letter-spacing: .03em;
    background-image: url("../img/start/footer/share.png");
    background-repeat: no-repeat;
    background-position: left center;
  }
  .down__menu {
    float: left;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 82.13333333%;
    padding-left: 5.333333333333333%;
    text-align: left;
    list-style-type: none;
    border-bottom: 1px solid #e5e5e5;
  }
  .down__menu li {
    display: inline-block;
    margin-top: -1px;
    margin-right: 4.6%;
    font: bold 0.625em/65px Roboto;
    letter-spacing: .03em;
  }
}
@media (max-width: 374px) {
  body {font-size: 12px;}
  .main-nav {width: 14%;}
}
