@import url("fonts.css");

.clearfix { 
    display: block; 
}
.clearfix:after { 
    content: "";
  clear: both;
  display: block;
  height: 0;
  margin: 0;
  padding: 0;
  line-height: 0;
  visibility: hidden; 
}


@media (min-width: 480px) and (max-width: 1024px) {
  body {
    max-width: 1024px;
    min-width: 480px;
    margin: 0 auto;
    background-color: #fff;
    color: #000;
    font-size: 16px;
  }
  a {
    text-decoration: none;
    cursor: pointer;
    color: #000;
  }
  a:link {
    color: #000;
  }
  a:visited {
    color: #000;
  }
  a:active {
    color: #000;
  }
  header {
    width: 100%;
    height: 120px;
    background-color: #fff;
  }
  .sticky-header {
    position: static !important;
    width: 89.84375% !important;
    height: 100%;
    margin: 0 auto;
  }
  .head-top {
    width: 100%;
    height: 80px;
  }
  h1.logo {
    display: inline-block;
    float: left;
    margin: 25px 0 0 1px;
    font: bold 1.625em OpenSans;
    letter-spacing: .01em;
  }
  .login-bag {
    float: right;
    display: inline-block;
    width: 70%;
    margin-top: 29px;
    font: 0.75em Roboto;
    letter-spacing: .03em;
  }
  .email-sign {
    float: right;
  }
  .bag {
    float: right;
    display: inline-block;
    height: 14px;
    margin-left: 54px;
    padding-left: 26px;
    text-align: right;
    background-image: url("../img/start/start_bag.png");
    background-position: left center;
    background-repeat: no-repeat;
  }
  .main-nav {
    position: relative !important;
    width: 100%;
    /* 690*/
    height: 39px;
  }
  .main-menu {
    display: block !important;
    float: left;
    width: 96%;
    /*670/690*/
    margin-left: 1px;
    list-style-type: none;
    font: bold 0.75em OpenSans;
    letter-spacing: .025em;
  }
  .main-menu li {
    display: inline-block;
    margin-right: 2.99479167vw;
    /* 24/646*/
  }
  .main-menu li:last-child {
    margin-right: 0;
  }
  .search-around {
    display: none;
    width: 0;
  }
  .mobile-search {
    display: none;
  }
  .search {
    display: none;
  }
  .tablet-search {
    display: block;
    position: absolute;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    left: 100%;
    width: 0px;
    /*15%*/
    height: 20px;
    border: none;
    border-bottom: 2px solid #e5e5e5;
    margin-top: -3px;
    padding-bottom: 5px;
    font: bold 0.75em OpenSans;
    letter-spacing: .03em;
    color: #a8a8a8;
    text-align: left;
    background-image: url("../img/start/start_search.png");
    background-position: 100% 5px;
    background-repeat: no-repeat;
    transition: all 1s;
  }
  .btn-search {
    display: block;
    float: right;
    width: 15px;
    /*15/690*/
    height: 20px;
    margin-top: -2px;
    border: none;
    outline: none;
    padding-bottom: 5px;
    background-color: #fff;
    background-image: url("../img/start/start_search.png");
    background-position: 100% 5px;
    background-repeat: no-repeat;
    cursor: pointer;
  }

/* BACK TO CATALOG */

.back {
    width: 100%;
    height: 64px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fff;
}

.back a {
    display: block;
    width: 20%;
    margin-left: 6.923076923076923%;
    padding-top: 22px;
    font-family: "Open Sans";
    font-weight: bold;
    letter-spacing: .03em;
}

/* ITEM OVERVIEW */

.item {
    width: 100%;
    padding-top: 7.8125vw;
    background-color: #fff;
    overflow: hidden;
}

.preview {
    width: 89.84375%; /* - border */
    margin: 0 auto;
}

.preview__full {
    float: left;
    width: 77.54237288135593%;
    height: 39.0625vw;/*300*/
}

.preview__full img {
    width: 100%;
    height: auto;
}

.preview__small {
    float: right;
    width: 22.45762711864407%;
}

.preview__small .container {
    position: relative;
    width: 90.56603773584906%;
    height: 12.10286458333333vw;
    margin-left: 9.433962264150943%; 
    margin-bottom: 2.604166666666667vw;/*20*/
    cursor: pointer;
}

.container__shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}
    
.container img {
    width: 100%;
    height: 100%;
}   


.info {
    width: 85%;
    margin: 0 auto;
    margin-top: 7.161458333333333vw;/*55*/
}

.info__name {
    width: 100%;
    font: 1.625em/26px RobotoBold;
    letter-spacing: .03em;
    text-align: center;
}

.info__price {
    width: 100%;
    padding-top: 2px;
    font:1.125em/65px RobotoRegular;
    letter-spacing: 0em;
    text-align: center;
}

.info__view {
    width: 95%;
    margin: 0 auto;
    margin-top: -5px;
    font-family: TimesItalic;
    letter-spacing: .002em;
    line-height: 30px;
    text-align: center;
}

.item__size {
    width: 89.84375%;;
    margin: 0 auto;
    margin-top: 5.46875vw;/*42*/
    font: 1.5em/34px RobotoBold;
    letter-spacing: .03em;
    text-align: center;
}

.size__conteiner {
    width: 100%; /* 558 */
    text-align: center;
}

.size__box {
    display: inline-block;
    width: 20%; /* 144*/
    height: 9.114583333333333vw;/*70*/
    margin-right: 10%; /* 60 */
    margin-top: 2.734375vw;/*21*/
    border: 1px solid #e5e5e5;
    font-family: OpenSansSemibold;
    letter-spacing: .03em;
    text-align: center;
    vertical-align: baseline;
    cursor: pointer;
}

.size__box:before {
    content:'';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

 .size__box:first-child {
    background-color: #707070;
} 

 .size__box:last-child {
    margin-right: 0;
} 

/* COLOR VIEW */
.item__color {
    width: 89.84375%;
    margin: 0 auto;
    margin-top: 6.901041666666667vw;
    font: 1.5em/34px RobotoBold;
    letter-spacing: .03em;
    text-align: center;
}

.color__conteiner {
    width: 100%; 
    text-align: center;
}

.color__box {
    display: inline-block;
    width: 20%;  /*144*/
    height: 9.114583333333333vw;
    margin-right: 10%;/*60*/
    margin-top: 2.734375vw;/*21*/
    border: 1px solid #e5e5e5;
    font-family: OpenSansSemibold;
    letter-spacing: .03em;
    text-align: center;
    cursor: pointer;    
}
    
.color__box:before {
    content:'';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

 .color__box:last-child { background-color: #707070; } 

 .color__box:last-child { margin-right: 0; } 

/*ADD  TO BAG */

.add-to-bag {
    position: relative;
    display: block;
    width: 33.85416666666667%; /*260*/
    height: 9.114583333333333vw;
    margin: 0 auto;
    margin-top: 18.22916666666667vw;/*140*/
    margin-bottom: 18.22916666666667vw;
    font: 1.5em OpenSansSemibold;
    letter-spacing: .03em;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    outline: none;
    border-top: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid rgb(228,228,228);
    border-bottom: 1px solid rgb(190,190,190);
    box-shadow:
        1px 0px rgb(229,229,229), 1px 1px rgb(190,190,190),
        2px 1px rgb(228,228,228), 2px 2px rgb(189,189,189);
    
}

.add-to-bag:before {
    content:'';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}    
    
.add-to-bag:hover {
    border-top: 1px solid #ed4251;
    border-left: 1px solid #ed4251;
    border-right: 1px solid rgb(237,66,81);
    border-bottom: 1px solid rgb(209,20,39);
    box-shadow:  
        1px 0px rgb(237,66,81), 1px 1px rgb(209,20,39),
        2px 1px rgb(236,65,80), 2px 2px rgb(208,19,38); 
}

.add-to-bag:active {
    top: 2px;
    left: 2px;
    box-shadow: -1px 0px rgb(237,66,81), -1px -1px rgb(209,20,39);
}
    
/* DOWN BANNER */

.banner {
    width: 100%;/*768*/
    height: 32.68229166666667vw;
    border-top: 1px solid #e5e5e5;
    background-color: #fff;
}

.banner .section-1 {
    float: left;
    width: 66.796875%; /*513*/
    height: 32.68229166666667vw;
    overflow: hidden;
}

.banner .slider {
    width: 100%; /*513*/
    height: 98.046875vw;
    transition: margin-top 650ms;
}

.slider__item-1 {
    display: block;
    width: 100%;
    height: 32.68229166666667vw;
    background-image: url("../img/start/slide_2/1_adidas.png");
    background-size: 100% 100%;
}

.slider__item-1 .text-1 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%; /*513*/
    margin: 0;
    padding-top: 4.036458333333333vw;
    padding-right: 10.91617933723197%;/*56*/
    font: 1.625em FuturaPTDemi;
    letter-spacing: .03em;
    color: #fff;
    text-align: right;
}

.slider__item-1 .text-2 {
    float: right;
    margin-top: 12px;
    margin-right: 12.17257318952234%;
    width: 25.42372881355932%; /*165*/
    font-family: TimesItalic;
    letter-spacing: 0em;
    color: #fff;  
    text-align: center;
}

.slider__item-2 {
    display: block;
    width: 100%;/*513*/
    height: 32.68229166666667vw;
    background-image: url("../img/start/slide_2/1_reebok.png");
    background-size: 100% 100%;
}

.slider__item-3 {
    display: block;
    width: 100%;/*513*/
    height: 32.68229166666667vw;
    background-image: url("../img/start/slide_2/1_adisas2.png");
    background-size: 100% 100%;
}

.banner .section-2  {
    float:left;
    width: 33.203125%;/*255*/
    height: 32.68229166666667vw;
}

.section-2 .left {
    width: 100%;/**/
} 

.section-2 .left a {
    display: block;
    width: 100%;
    height: 32.68229166666667vw;
    background-image: linear-gradient(to top, rgba(94,102,108,0.3),rgba(94,102,108,0.3)),url("../img/start/slide_2/4.png") ;
    background-size: 100% 100%;
}

.left__text-1 {
    padding-top: 21.875vw;
    width: 100%;
    font: 1.625em FuturaPTDemi;
    letter-spacing: .03em;
    color: #fff;
    text-align: center;
}

.left__text-2 {
    margin-top: 13px;
    width: 100%;
    font: .875em HelveticaNeue;
    letter-spacing: .03em;
    color: #fff;
    text-align: center;
}

.section-2 .right {
    display: none;
}

footer {
    width: 100%;
    border-top: 1px solid #e5e5e5;
    background-color: #fff;
  }
  .links {
    width: 89.84375%;
    /*690*/
    height: 55.078125vw;
    min-height: 350px;
    max-height: 430px;
    margin: 0 auto;
  }
  .links .left {
    float: left;
    width: 63.76811594202899%;
    /*440*/
    border: none;
  }
  .quick-links {
    float: left;
    width: 52.27272727272727%;
    /*230*/
  }
  .customer-links {
    float: left;
    width: 47.72727272727273%;
    /*210*/
  }
  .links__head {
    margin-top: 3.385416666666667vw;
    font: bold 1em OpenSans;
    line-height: 65px;
    letter-spacing: .022em;
  }
  .links__list {
    margin: 7px 0 0 1px;
    list-style-type: none;
    font: 0.875em Roboto;
    line-height: 40px;
    letter-spacing: .022em;
  }
  .links .right {
    float: left;
    width: 36.23188405797101%;
    /*250*/
  }
  .right-top {
    width: 100%;
    /*250*/
    height: auto;
  }
  .links .questions {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding-left: 8%;
    /*20*/
  }
  .links .questions__text {
    height: 11px;
    margin-top: -2px;
    padding-left: 10%;
    /*25/250*/
    font: 0.875em Roboto;
    line-height: 10px;
    letter-spacing: .03em;
    background-image: url("../img/start/footer/twG.png");
    background-repeat: no-repeat;
    background-position: left top;
  }
  .links .questions__text span {
    font-weight: bold;
  }
  .links .phone {
    margin: -8px 0 0 8%;
    /*20*/
  }
  .links .phone_text {
    margin-top: -1px;
    font: 0.875em Roboto;
    line-height: 7px;
    letter-spacing: .02em;
  }
  .links .about {
    display: none;
  }
  .social {
    float: left;
    display: block;
    margin: 12.23958333vw 0 0 8.9%;
    /*22*/
  }
  .down {
    width: 89.84375%;
    /*690*/
    height: 10.28645833333333vw;
    /*79*/
    margin: 0 auto;
    padding: 0 5.078125%;
    /*39*/
    border-top: 1px solid #e5e5e5;
    text-align: center;
  }
  .copyrate {
    float: left;
    width: 33.85416667vw;
    /*295*/
    height: 100%;
    padding: 1px 3px 0 0;
    font: bold 0.75em Roboto;
    letter-spacing: .03em;
    color: #000;
    text-align: left;
  }
  .copyrate:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .share {
    float: left;
    display: inline-block;
    width: 16.66666666666667%;
    /*115*/
    height: 10.28645833333333vw;
    /*79*/
    margin-left: 2.60416667vw;
    font: bold 1em OpenSans;
    letter-spacing: .03em;
  }
  .share:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .share-mind {
    display: inline-block;
    width: 29%;
    height: 21px;
    margin-left: 2.5%;
    padding: 8px 2px 3px 7.826086956521739%;
    font: 0.75em Roboto;
    letter-spacing: .03em;
    background-image: url("../img/start/footer/share.png");
    background-repeat: no-repeat;
    background-position: left center;
  }
  .down__menu {
    float: right;
    list-style-type: none;
    width: 40% /*280*/;
    height: 100%;
    padding-top: 2px;
    text-align: right;
  }
  .down__menu:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .down__menu li {
    display: inline-block;
    margin-left: 6.071428571428571%;
    font: bold 0.75em Roboto;
    letter-spacing: .02em;
  }
    
}

@media (min-width:480px) and (max-width:768px) {
    
body {
    font-size: 2.083333333333333vw;
}


}

