@import url("fonts.css");
.clearfix {
  display: block;
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  margin: 0;
  padding: 0;
  line-height: 0;
  visibility: hidden;
}
@media (min-width: 480px) and (max-width: 1024px) {
  body {
    max-width: 1024px;
    min-width: 480px;
    margin: 0 auto;
    background-color: #fff;
    color: #000;
    font-size: 16px;
  }
  a,
  a:link,
  a:visited,
  a:active {
    text-decoration: none;
    cursor: url("../img/cursor.cur"), pointer;
    color: #000;
  }
  button {cursor: url("../img/cursor.cur"), pointer;}
  header {
    width: 100%;
    height: 119px;
    background-color: #fff;
  }
  .sticky-header {
    position: static !important;
    width: 89.84375% !important;
    height: 100%;
    margin: 0 auto;
  }
  .head-top {
    width: 100%;
    height: 80px;
  }
  h1.logo {
    display: inline-block;
    float: left;
    margin: 25px 0 0 1px;
    font: bold 1.625em OpenSans;
    letter-spacing: .01em;
  }
  .login-bag {
    float: right;
    display: inline-block;
    width: 70%;
    margin-top: 29px;
    font: 0.75em Roboto;
    letter-spacing: .03em;
  }
  .email-sign {float: right;}
  .bag {
    float: right;
    display: inline-block;
    height: 14px;
    margin-left: 54px;
    padding-left: 26px;
    text-align: right;
    background-image: url("../img/start/start_bag.png");
    background-position: left center;
    background-repeat: no-repeat;
  }
  .main-nav {
    position: relative !important;
    width: 100%;
    height: 39px;
  }
  .main-menu__wrap {
    display: block !important;
    width: 96% !important;
    height: 0 !important;
  }
  .main-menu {
    display: block !important;
    float: left;
    width: 100%;
    margin-left: 1px;
    list-style-type: none;
    font: bold 0.75em OpenSans;
    letter-spacing: .025em;
  }
  .main-menu li {
    display: inline-block;
    margin-right: 2.99479167vw;
  }
  .main-menu li:last-child {margin-right: 0;}
  .search-around {
    display: none;
    width: 0;
  }
  .mobile-search,
  .search {display: none;}
  .tablet-search {
    display: block;
    position: absolute;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    left: 100%;
    width: 0px;
    height: 20px;
    border: none;
    border-bottom: 2px solid #e5e5e5;
    margin-top: -3px;
    padding-bottom: 5px;
    font: bold 0.75em OpenSans;
    letter-spacing: .03em;
    color: #a8a8a8;
    text-align: left;
    background-image: url("../img/start/start_search.png");
    background-position: 100% 5px;
    background-repeat: no-repeat;
    transition: all 1s;
  }
  .btn-search {
    display: block;
    float: right;
    width: 15px;
    height: 20px;
    margin-top: -2px;
    border: none;
    outline: none;
    padding-bottom: 5px;
    background-color: #fff;
    background-image: url("../img/start/start_search.png");
    background-position: 100% 5px;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  .back {
    width: 100%;
    height: 64px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fff;
  }
  .back a {
    display: inline-block;
    margin: 19px 0 0 8.854166666666667%;
    font: bold 1.25em OpenSans;
    letter-spacing: .03em;
  }
  .back:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }
  .bag-main {
    width: 100%;
    padding-top: 3.90625vw;
    background-color: #fff;
  }
  .conteiner {
    width: 89.84375%;
    margin: 0 auto;
    font-family: OpenSans;
    font-size: bold;
  }
  .item {
    float: left;
    width: 50%;
    margin-bottom: 3.5vw;
    overflow: hidden;
  }
  .item__preview {
    float: left;
    width: 49.27536231884058%;
  }
  .item img {
    width: 85.29411764705882%;
    height: 26.69270833vw;
  }
  .item__preview .quick-view {
    display: none;
    box-sizing: border-box;
    position: absolute;
    z-index: 2000;
    top: 0px;
    width: 85.29411764705882%;
    height: 26.69270833vw;
    padding-top: 13.02083333vw;
    font: bold 18px/65px OpenSans;
    letter-spacing: .03em;
    color: #f14a58;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .item__preview:hover .quick-view {display: block;}
  .item__price {
    width: 85.29411764705882%;
    padding-top: 2px;
    font: 0.875em/65px Roboto;
    letter-spacing: .03em;
    text-align: center;
  }
  .item__overview {
    float: left;
    width: 50.72463768115942%;
    font: 0.75em/3.125vw Roboto;
    letter-spacing: .03em;
  }
  .item__name {
    width: 65%;
    padding-top: 1vw;
    font: bold 1.16666667em/3.125vw Roboto;
    letter-spacing: .03em;
  }
  .item__color {
    padding-top: .6vw;
  }
  .item__color,
  .item__quantity,
  .item__size {
    padding-left: 0px;
  }
  .item__remove {
    display: inline-block;
    margin-top: 3.4vw;
    font: bold 1.083333333333333em OpenSans;
    letter-spacing: .03em;
    color: #f14a58;
    cursor: pointer;
  }
  .bag__down {
    width: 100%;
    height: 26.04166666666667vw;
    margin-top: 12px;
    border-top: 1px solid #e5e5e5;
  }
  .discount-info {
    box-sizing: border-box;
    width: 100%;
    height: 5.208333333333333vw;
    font: bold 0.6875em OpenSans;
    letter-spacing: .03em;
    background-color: #f7f7f7;
    text-align: center;
  }
  .discount-info:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }
  .bag__control {
    width: 89.84375%;
    margin: 0 auto;
  }
  .bag__empty {
    float: left;
    width: 15%;
    padding-top: 4.296875vw;
    font: bold 0.8125em/65px Roboto;
    letter-spacing: .03em;
  }
  .bag__empty span {
    cursor: pointer;
  }
  .buy-now {
    position: relative;
    float: left;
    width: 37.53623188405797%;
    height: 8.854166666666667vw;
    margin: 3.90625vw 0 0 16.08695652173913%;
    font: bold 1.25em OpenSans;
    letter-spacing: .03em;
    text-align: center;
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #bebebe;
    box-shadow: 1px 0px #e5e5e5, 1px 1px #bebebe, 2px 1px #e4e4e4, 2px 2px #bdbdbd;
  }
  .buy-now::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }
  .buy-now:hover {
    border-top: 1px solid #ed4251;
    border-left: 1px solid #ed4251;
    border-right: 1px solid #ed4251;
    border-bottom: 1px solid #d11427;
    box-shadow: 1px 0px #ed4251, 1px 1px #d11427, 2px 1px #ec4150, 2px 2px #d01326;
  }
  .buy-now:active {
    top: 2px;
    left: 2px;
    box-shadow: -1px 0px #ed4251, -1px -1px #d11427;
  }
  .cost {
    float: right;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 15%;
    padding-top: 5.338541666666667vw;
  }
  .cost__topic {
    width: 100%;
    font: 0.75em/30px Roboto;
    letter-spacing: .03em;
    text-align: right;
  }
  .cost__sum {
    width: 100%;
    font: bold 1em/12px OpenSans;
    letter-spacing: .03em;
    text-align: right;
  }
  footer {
    width: 100%;
    border-top: 1px solid #e5e5e5;
    background-color: #fff;
  }
  .links {
    width: 89.84375%;
    height: 55.078125vw;
    min-height: 350px;
    max-height: 430px;
    margin: 0 auto;
  }
  .links .left {
    float: left;
    width: 63.76811594202899%;
    border: none;
  }
  .quick-links {
    float: left;
    width: 52.27272727272727%;
  }
  .customer-links {
    float: left;
    width: 47.72727272727273%;
  }
  .links__head {
    margin-top: 3.385416666666667vw;
    font: bold 1em OpenSans;
    line-height: 65px;
    letter-spacing: .022em;
  }
  .links__list {
    margin: 7px 0 0 1px;
    list-style-type: none;
    font: 0.875em Roboto;
    line-height: 40px;
    letter-spacing: .022em;
  }
  .links .right {
    float: left;
    width: 36.23188405797101%;
  }
  .right-top {
    width: 100%;
    height: auto;
  }
  .links .questions {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding-left: 8%;
  }
  .links .questions__text {
    height: 11px;
    margin-top: -2px;
    padding-left: 10%;
    font: 0.875em Roboto;
    line-height: 10px;
    letter-spacing: .03em;
    background-image: url("../img/start/footer/twG.png");
    background-repeat: no-repeat;
    background-position: left top;
  }
  .links .questions__text span {font-weight: bold;}
  .links .phone {margin: -8px 0 0 8%;}
  .links .phone_text {
    margin-top: -1px;
    font: 0.875em Roboto;
    line-height: 7px;
    letter-spacing: .02em;
  }
  .links .about {display: none;}
  .social {
    float: left;
    display: block;
    margin: 12.23958333vw 0 0 8.9%;
  }
  .down {
    width: 89.84375%;
    height: 10.28645833333333vw;
    margin: 0 auto;
    padding: 0 5.078125%;
    border-top: 1px solid #e5e5e5;
    text-align: center;
  }
  .copyrate {
    float: left;
    width: 33.85416667vw;
    height: 100%;
    padding: 1px 3px 0 0;
    font: bold 0.75em Roboto;
    letter-spacing: .03em;
    color: #000;
    text-align: left;
  }
  .copyrate:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .share {
    float: left;
    display: inline-block;
    width: 16.66666666666667%;
    height: 10.28645833333333vw;
    margin-left: 2.60416667vw;
    font: bold 1em OpenSans;
    letter-spacing: .03em;
  }
  .share:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .share-mind {
    display: inline-block;
    width: 29%;
    height: 21px;
    margin-left: 2.5%;
    padding: 8px 2px 3px 7.826086956521739%;
    font: 0.75em Roboto;
    letter-spacing: .03em;
    background-image: url("../img/start/footer/share.png");
    background-repeat: no-repeat;
    background-position: left center;
  }
  .down__menu {
    float: right;
    list-style-type: none;
    width: 40%;
    height: 100%;
    padding-top: 2px;
    text-align: right;
  }
  .down__menu:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .down__menu li {
    display: inline-block;
    margin-left: 6.071428571428571%;
    font: bold 0.75em Roboto;
    letter-spacing: .02em;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  body {font-size: 2.083333333333333vw;}
}
