@import url("fonts.css");

.clearfix { 
    display: block; 
}
.clearfix:after { 
    content: ""; 
    display: block; 
    clear: both; 
    visibility: hidden; 
    line-height: 0; 
    height: 0; 
    margin: 0; 
    padding: 0; 
}


@media (min-width: 480px) and (max-width:1024px) {

body {
    max-width: 1024px;
    min-width: 480px;
    margin: 0 auto;
    background-color:#fff;
    color: #000;
    font-size: 16px;
}


a {
    text-decoration: none;
    cursor: pointer;
    color: #000;
}
a:link {color: #000;} 
a:visited {color: #000;}  
a:active {color: #000;}

header {
    width: 100%;
    height: 119px;
    background-color: #fff;
    
}
    
.stickyHeader {
    position: static !important;
    width: 89.84375% !important;
    height: 100%;
    margin: 0 auto;
}
.headTop {
    width: 100%;
    height: 81px;
}

h1.logo_tm {
    display: inline-block;
    float: left;
    margin-top: 28px;
    margin-left: 2px;
    font: 1.875em FuturaPTHeavy;
    letter-spacing: .03em;
}

.login_bag {
    float: right;
    display: inline-block;
    margin-top: 32px;
    width: 75%;
    font:.75em HelveticaNeue;
    letter-spacing: .03em;
}

.emailSign {
    float: right;
}

.bagIn {
    float: right;
    display: inline-block;
    margin-left: 54px;
    padding-left: 26px;
    height: 14px;
    text-align: right;
    background-image: url("../img/start/start_bag.png");
    background-position: left top;
    background-repeat: no-repeat;
}

.mainNav {
    position: relative !important;
    width: 100%; /* 690*/
    height:39px;
}

.mainMenu {
    display: block !important;
    float: left;
    width: 97%;  /*670/690*/ 
    list-style-type: none;
    font: .875em FuturaPTDemi;
    letter-spacing: .03em;
}

.mainMenu li {
    display:inline-block; 
    margin-right: 2.8%;  /* 24/670*/
}

.mainMenu li:last-child {
    margin-right: 0;
}
    
.searchAround {
    display: none;
    width: 0;
}
.mobileSearch {
    display: none;    
}

.search {
    display: none;
}
.tabletSearch {
    display: block;
    position: absolute;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    left: 100%;
    width: 0px; /*15%*/
    height: 20px;
    border: none;
    border-bottom: 2px solid #e5e5e5;
    margin-top: -3px;
    padding-bottom: 5px;
    font: .75em FuturaPTDemi;
    letter-spacing: .03em;
    color: #a8a8a8;
    text-align: left;
    background-image: url("../img/start/start_search.png");
    background-position: 100% 5px;
    background-repeat: no-repeat;
    transition: all 1s;
}
    
.btnSearch {
    display: block;
    float: right;
    width: 15px; /*15/690*/
    height: 20px;
    margin-top: -3px;
    padding-bottom: 5px;
    background-image: url("../img/start/start_search.png");
    background-position: 100% 5px;;
    background-repeat: no-repeat;
    cursor: pointer;
}    

/* BACK TO CATALOG */

.back {
    width: 100%;
    height: 64px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fff;
}

.back a {
    display: block;
    width: 20%;
    margin-left: 6.923076923076923%;
    padding-top: 22px;
    font-family: "Open Sans";
    font-weight: bold;
    letter-spacing: .03em;
}

/* ITEM OVERVIEW */

.itemBlock {
    width: 100%;
    padding-top: 7.8125vw;
    background-color: #fff;
    overflow: hidden;
}

.preview {
    width: 89.84375%; /* - border */
    margin: 0 auto;
}

.fullPreview {
    float: left;
    width: 77.54237288135593%;
    height: 39.0625vw;/*300*/
}

.fullPreview img {
    width: 100%;
    height: auto;
}

.smallPreview {
    float: right;
    width: 22.45762711864407%;
}

.smallPreview .imgCont {
    position: relative;
    width: 90.56603773584906%;
    height: 12.10286458333333vw;
    margin-left: 9.433962264150943%; 
    margin-bottom: 2.604166666666667vw;/*20*/
    cursor: pointer;
}

.imgContShadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}
    
.imgCont img {
    width: 100%;
    height: 100%;
}   


.info {
    width: 85%;
    margin: 0 auto;
    margin-top: 7.161458333333333vw;/*55*/
}

.infoName {
    width: 100%;
    font: 1.625em/26px RobotoBold;
    letter-spacing: .03em;
    text-align: center;
}

.infoPrice {
    width: 100%;
    padding-top: 2px;
    font:1.125em/65px RobotoRegular;
    letter-spacing: 0em;
    text-align: center;
}

.infoView {
    width: 95%;
    margin: 0 auto;
    margin-top: -5px;
    font-family: TimesItalic;
    letter-spacing: .002em;
    line-height: 30px;
    text-align: center;
}

.itemSize {
    width: 89.84375%;;
    margin: 0 auto;
    margin-top: 5.46875vw;/*42*/
    font: 1.5em/34px RobotoBold;
    letter-spacing: .03em;
    text-align: center;
}

.sizeConteiner {
    width: 100%; /* 558 */
    text-align: center;
}

.sizeBox {
    display: inline-block;
    width: 20%; /* 144*/
    height: 9.114583333333333vw;/*70*/
    margin-right: 10%; /* 60 */
    margin-top: 2.734375vw;/*21*/
    border: 1px solid #e5e5e5;
    font-family: OpenSansSemibold;
    letter-spacing: .03em;
    text-align: center;
    vertical-align: baseline;
    cursor: pointer;
}

.sizeBox:before {
    content:'';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

.sizeConteiner .sizeBox:first-child {
    background-color: #707070;
} 

.sizeConteiner .sizeBox:last-child {
    margin-right: 0;
} 

/* COLOR VIEW */
.itemColor {
    width: 89.84375%;
    margin: 0 auto;
    margin-top: 6.901041666666667vw;
    font: 1.5em/34px RobotoBold;
    letter-spacing: .03em;
    text-align: center;
}

.colorConteiner {
    width: 100%; 
    text-align: center;
}

.colorBox {
    display: inline-block;
    width: 20%;  /*144*/
    height: 9.114583333333333vw;
    margin-right: 10%;/*60*/
    margin-top: 2.734375vw;/*21*/
    border: 1px solid #e5e5e5;
    font-family: OpenSansSemibold;
    letter-spacing: .03em;
    text-align: center;
    cursor: pointer;    
}
    
.colorBox:before {
    content:'';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

.colorConteiner .colorBox:last-child { background-color: #707070; } 

.colorConteiner .colorBox:last-child { margin-right: 0; } 

/*ADD  TO BAG */

.addToBag {
    position: relative;
    width: 33.85416666666667%; /*260*/
    height: 9.114583333333333vw;
    margin: 0 auto;
    margin-top: 18.22916666666667vw;/*140*/
    margin-bottom: 18.22916666666667vw;
    font: 1.5em OpenSansSemibold;
    letter-spacing: .03em;
    text-align: center;
    cursor: pointer;
    border-top: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid rgb(228,228,228);
    border-bottom: 1px solid rgb(190,190,190);
    box-shadow:
        1px 0px rgb(229,229,229), 1px 1px rgb(190,190,190),
        2px 1px rgb(228,228,228), 2px 2px rgb(189,189,189);
    
}

.addToBag:before {
    content:'';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}    
    
.addToBag:hover {
    border-top: 1px solid #ed4251;
    border-left: 1px solid #ed4251;
    border-right: 1px solid rgb(237,66,81);
    border-bottom: 1px solid rgb(209,20,39);
    box-shadow:  
        1px 0px rgb(237,66,81), 1px 1px rgb(209,20,39),
        2px 1px rgb(236,65,80), 2px 2px rgb(208,19,38); 
}

.addToBag:active {
    top: 2px;
    left: 2px;
    box-shadow: -1px 0px rgb(237,66,81), -1px -1px rgb(209,20,39);
}
    
/* DOWN BANNER */

.banner {
    width: 100%;/*768*/
    height: 32.68229166666667vw;/*251*/
    border-top: 1px solid #e5e5e5;
    background-color: #fff;
}

.banSec1 {
    float: left;
    width: 66.796875%; /*513*/
    height: 32.68229166666667vw;/*251*/
    overflow: hidden;
}

.banSec1Slider {
    width: 100%; /*513*/
    height: 98.046875vw;/*753*/
    transition: margin-top 650ms;
}

.banSec1Top1 {
    display: block;
    width: 100%;
    height: 32.68229166666667vw;/*251*/
    background-image: url("../img/start/slide_2/1_adidas.png");
    background-size: 100% 100%;
}

.banSec1Text1 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%; /*513*/
    margin: 0;
    padding-top: 4.036458333333333vw;/*31*/
    padding-right: 10.91617933723197%;/*56*/
    font: 1.625em FuturaPTDemi;
    letter-spacing: .03em;
    color: #fff;
    text-align: right;
}

.banSec1Text2 {
    float: right;
    margin-top: 12px;
    margin-right: 12.17257318952234%;
    width: 25.42372881355932%; /*165*/
    font-family: TimesItalic;
    letter-spacing: 0em;
    color: #fff;  
    text-align: center;
}

.banSec1Top2 {
    display: block;
    width: 100%;/*513*/
    height: 32.68229166666667vw;/*251*/
    background-image: url("../img/start/slide_2/1_reebok.png");
    background-size: 100% 100%;
}

.banSec1Top3 {
    display: block;
    width: 100%;/*513*/
    height: 32.68229166666667vw;/*251*/
    background-image: url("../img/start/slide_2/1_adisas2.png");
    background-size: 100% 100%;
}

.banSec2 {
    float:left;
    width: 33.203125%;/*255*/
    height: 32.68229166666667vw;/*251*/
}

.bS2Left {
    width: 100%;/**/
} 

.bS2Left a {
    display: block;
    width: 100%;
    height: 32.68229166666667vw;/*251*/
    background-image: linear-gradient(to top, rgba(94,102,108,0.3),rgba(94,102,108,0.3)),url("../img/start/slide_2/4.png") ;
    background-size: 100% 100%;
}

.bS2LeftText1 {
    padding-top: 21.875vw;
    width: 100%;
    font: 1.625em FuturaPTDemi;
    letter-spacing: .03em;
    color: #fff;
    text-align: center;
}

.bS2LeftText2 {
    margin-top: 13px;
    width: 100%;
    font: .875em HelveticaNeue;
    letter-spacing: .03em;
    color: #fff;
    text-align: center;
}

.bS2Right {
    display: none;
}

footer {
    width: 100%;
    border-top: 1px solid #e5e5e5;
    background-color: #fff;
}

.links {
    width: 89.84375%; /*690*/
    height: 55.078125vw;
    min-height: 340px;
    margin: 0 auto;
}

.linksLeft {
    float: left;
    width: 63.76811594202899%;  /*440*/
    border: none;
}

.lLCol1 {
    float: left;
    width: 52.27272727272727%; /*230*/
   
}
.lLCol2 {
    float: left;
    width: 47.72727272727273%; /*210*/
    
}
    
.linksHead {
    margin-top: 3.385416666666667vw;
    font-family: FuturaPTDemi;
    letter-spacing: .03em;
    line-height: 65px;
}

.linksList {
    margin-top: 7px;
    margin-left: 1px;
    list-style-type: none;
    font: .875em/40px HelveticaNeue;
    letter-spacing: .03em;
}

.linksRight {
    float: left;
    width: 36.23188405797101%; /*250*/
}

.lRTop {
    width: 100%; /*250*/
    height: auto;
}

.lRTopLeft {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%; 
    height: auto;
    padding-left: 8%;/*20*/
}

.lRTopLeftText {
    height: 11px;
    margin-top: -2px;
    padding-left: 10%; /*25/250*/
    font: .875em/10px HelveticaNeue;
    letter-spacing: .02em;
    background-image: url("../img/start/footer/twG.png");
    background-repeat: no-repeat;
    background-position: left top;
    
}

.lRTopLeftText span { font-family: HelveticaNeueBold; }

.lRTopRight {
    margin-left: 8%; /*20*/
    margin-top: -8px;
}

.lRTopRightText {
    font: .875em/7px HelveticaNeue;
    letter-spacing: .02em;
}

.lRMiddle { display: none; }

.social {
    float: left; 
    display: block;
    margin-left: 8.8%;/*22*/
    margin-top: 94px;
}

.down {
    width: 89.84375%;  /*690*/
    padding: 0 5.078125%; /*39*/
    height: 10.28645833333333vw;/*79*/
    margin: 0 auto;
    border-top: 1px solid #e5e5e5;
    font-size: .75em;/*12*/
    text-align: center;
}


.copyrate {
    float: left;
    width: 42%;  /*295*/
    height: 100%;
    font-family: HelveticaNeueBold;
    letter-spacing: .03em;
    color: #000; 
    text-align: left;
}

.copyrate:before {
    content:'';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}    

.share {
   /* float:left;*/
    display:inline-block;
    margin-left: 0;
    height: 10.28645833333333vw;/*79*/
    width: 16.66666666666667%; /*115*/
    font: 1.5em FuturaPTDemi;
    letter-spacing: .03em;
}
    
.share:before {
    content:'';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.shareMind {
    display: inline-block;
    width: 29%;
    height: 21px;
    margin-left: 2.608695652173913%;
    padding-left: 7.826086956521739%;
    padding-top: 10px;
    font: .66666666667em HelveticaNeue;
    letter-spacing: .03em;
    background-image: url("../img/start/footer/share.png");
    background-repeat: no-repeat;
    background-position: left center;
}

.downMenu {
    float:right;
    list-style-type: none;
    width:  40% /*280*/;
    height: 100%;
    text-align: right;    
}
    
.downMenu:before {
    content:'';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.downMenu li {
    display: inline-block;
    margin-left: 6.071428571428571%;  /*17/280*/
    font-family: HelveticaNeueBold;
    letter-spacing: .03em;
}
    
}

@media (min-width:480px) and (max-width:768px) {
    
body {
    font-size: 2.083333333333333vw;
}
    .mainMenu {
    width: 96%;
} 
    
.mainMenu li {
    display: inline-block;
    margin-right: 2%; 
}

}

