@import url("fonts.css");
.clearfix {
  display: block;
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  margin: 0;
  padding: 0;
  line-height: 0;
  visibility: hidden;
}
@media (min-width: 480px) and (max-width: 1024px) {
  body {
    max-width: 1024px;
    min-width: 480px;
    margin: 0 auto;
    background-color: #fff;
    color: #000;
    font-size: 16px;
  }
  a {
    text-decoration: none;
    cursor: pointer;
    color: #000;
  }
  a:link {
    color: #000;
  }
  a:visited {
    color: #000;
  }
  a:active {
    color: #000;
  }
  header {
    width: 100%;
    height: 120px;
    background-color: #fff;
  }
  .sticky-header {
    position: static !important;
    width: 89.84375% !important;
    height: 100%;
    margin: 0 auto;
  }
  .head-top {
    width: 100%;
    height: 80px;
  }
  h1.logo {
    display: inline-block;
    float: left;
    margin: 25px 0 0 1px;
    font: bold 1.625em OpenSans;
    letter-spacing: .01em;
  }
  .login-bag {
    float: right;
    display: inline-block;
    width: 70%;
    margin-top: 29px;
    font: 0.75em Roboto;
    letter-spacing: .03em;
  }
  .email-sign {
    float: right;
  }
  .bag {
    float: right;
    display: inline-block;
    height: 14px;
    margin-left: 54px;
    padding-left: 26px;
    text-align: right;
    background-image: url("../img/start/start_bag.png");
    background-position: left center;
    background-repeat: no-repeat;
  }
  .main-nav {
    position: relative !important;
    width: 100%;
    /* 690*/
    height: 39px;
  }
  .main-menu__wrap {
    display: block !important;
    width: 96% !important;
    height: 0 !important;
  }
  .main-menu {
    display: block !important;
    float: left;
    width: 100%;
    /*670/690*/
    margin-left: 1px;
    list-style-type: none;
    font: bold 0.75em OpenSans;
    letter-spacing: .025em;
  }
  .main-menu li {
    display: inline-block;
    margin-right: 2.99479167vw;
    /* 24/646*/
  }
  .main-menu li:last-child {
    margin-right: 0;
  }
  .search-around {
    display: none;
    width: 0;
  }
  .mobile-search {
    display: none;
  }
  .search {
    display: none;
  }
  .tablet-search {
    display: block;
    position: absolute;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    left: 100%;
    width: 0px;
    /*15%*/
    height: 20px;
    border: none;
    border-bottom: 2px solid #e5e5e5;
    margin-top: -3px;
    padding-bottom: 5px;
    font: bold 0.75em OpenSans;
    letter-spacing: .03em;
    color: #a8a8a8;
    text-align: left;
    background-image: url("../img/start/start_search.png");
    background-position: 100% 5px;
    background-repeat: no-repeat;
    transition: all 1s;
  }
  .btn-search {
    display: block;
    float: right;
    width: 15px;
    /*15/690*/
    height: 20px;
    margin-top: -2px;
    border: none;
    outline: none;
    padding-bottom: 5px;
    background-color: #fff;
    background-image: url("../img/start/start_search.png");
    background-position: 100% 5px;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  .carousel-conteiner {
    position: relative;
    width: 100%;
    height: 106.7708333333333vw;
    /*820*/
    background-color: #fff;
    overflow: hidden;
  }
  /* Carousel list */
  .carousel {
    width: 400%;
    list-style-type: none;
  }
  .carousel li {
    display: inline-block;
    width: 25%;
    height: 106.7708333333333vw;
    /*820*/
    overflow: hidden;
  }
  /* Carousel pointer */
  .pointer {
    position: absolute;
    top: 98.17708333333333vw;
    width: 100%;
    height: 8.59375vw;
    border-top: 1px solid rgba(0, 0, 0, 0.07);
    list-style-type: none;
    padding-top: 2.864583333333333vw;
    text-align: center;
  }
  .pointer li {
    display: inline-block;
    margin-right: 22px;
  }
  .pointer li:last-child {
    margin-right: 0;
  }
  .circle {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
  .pointer li:first-child .circle {
    background-color: #f14a58;
  }
  /* FIRST SLIDE OF CAROUSEL */
  .carousel__item-1 {
    width: 100%;
    /*768*/
    height: 106.7708333333333vw;
    /*820*/
    background-image: url("../img/start/tablet/slide_1/1.png");
    background-size: 100% 100%;
    overflow: hidden;
  }
  .carousel__item-1 .baner {
    position: relative;
    left: 2px;
    width: 41.66666666666667%;
    /* 320px*/
    height: 56.640625vw;
    margin: 19.79166666666667vw auto 0;
    background-color: #fff;
    overflow: hidden;
  }
  .carousel__item-1 .baner__text-1 {
    margin-top: 4.94791667vw;
    width: 100%;
    height: 17px;
    font: bold 0.875em OpenSans;
    letter-spacing: .03em;
    text-align: center;
  }
  .carousel__item-1 .baner__text-2 {
    width: 100%;
    /*73.4375*/
    margin: 0 auto;
    margin-top: 5.46875vw;
    padding-left: 1px;
    font: bold 4.375em OpenSans;
    line-height: 13.02083333333333vw;
    letter-spacing: .05em;
    text-align: center;
    color: #f14a58;
  }
  .carousel__item-1 .baner__text-3 {
    width: 100%;
    height: 14px;
    margin-top: 9.765625vw;
    padding-left: 5px;
    font: 0.875em Roboto;
    line-height: 12px;
    letter-spacing: .03em;
    text-align: center;
  }
  .carousel__item-1 .baner__red-line {
    display: inline-block;
    width: 6.77083333vw;
    /*62/385*/
    height: 2px;
    margin: 0 6px 0 8px;
    border-top: 3px solid #f14a58;
  }
  /* SECOND SLIDE OF CAROUSEL */
  .carousel__item-2 {
    position: relative;
    width: 100%;
    /*768*/
    height: 106.7708333333333vw;
    /*820*/
    overflow: hidden;
  }
  /* Section 1 */
  .section-1 {
    float: left;
    width: 66.796875%;
    /*513px*/
    height: 65.36458333333333vw;
  }
  .section-1__top {
    width: 100%;
    /*513px*/
    height: 32.68229166666667vw;
    overflow: hidden;
  }
  .slider {
    margin-top: 0;
    width: 100%;
    height: 98.046875vw;
    transition: margin-top 650ms;
  }
  .slider__item-1 {
    display: block;
    width: 100%;
    height: 32.68229166666667vw;
    background-image: url("../img/start/tablet/slide_2/1.png");
    background-size: 100% 100%;
  }
  .slider__item-1 .text-1 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 33px;
    padding: 3.77604167vw 7.8125vw 0 0;
    font: bold 1.375em OpenSans;
    letter-spacing: .03em;
    color: #fff;
    text-align: right;
  }
  .slider__item-1 .text-2 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: right;
    width: 25.42372881355932%;
    height: 16px;
    margin: 4.6vw 12.17% 0 0;
    font: italic 1em Crimson;
    letter-spacing: 0em;
    color: #fff;
    text-align: center;
  }
  .slider__item-2 {
    display: block;
    width: 100%;
    height: 32.68229166666667vw;
    background-image: url("../img/start/slide_2/1_reebok.png");
    background-size: 100% 100%;
  }
  .slider__item-3 {
    display: block;
    width: 100%;
    height: 32.68229166666667vw;
    background-image: url("../img/start/slide_2/1_adisas2.png");
    background-size: 100% 100%;
  }
  .section-2__bottom {
    width: 100%;
    /*513*/
    height: 32.8125vw;
  }
  .section-1__bottom .left {
    float: left;
    width: 49.70760233918129%;
    /*255/513*/
  }
  .section-1__bottom .left a {
    display: block;
    width: 100%;
    height: 32.8125vw;
    background-image: linear-gradient(to top, rgba(94, 102, 108, 0.3), rgba(94, 102, 108, 0.3)), url("../img/start/tablet/slide_2/4.png");
    background-size: 100% 100%;
  }
  .section-1__bottom .left__text-1 {
    width: 100%;
    height: 4.296875vw;
    padding-top: 21.7vw;
    font: bold 1.375em OpenSans;
    letter-spacing: .03em;
    color: #fff;
    text-align: center;
  }
  .section-1__bottom .left__text-2 {
    width: 100%;
    height: 14px;
    margin-top: .7vw;
    font: 0.875em Roboto;
    letter-spacing: .025em;
    color: #fff;
    text-align: center;
  }
  .section-1__bottom .right {
    float: left;
    width: 49.70760233918129%;
    /*255/513*/
  }
  .section-1__bottom .right a {
    display: block;
    width: 100%;
    height: 32.8125vw;
    border-top: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    background-image: url("../img/start/tablet/slide_2/5.png");
    background-size: 100% 100%;
  }
  .section-1__bottom .right__text-1,
  .tablet-front .text-1 {
    width: 100%;
    height: 4.296875vw;
    padding-top: 21.65vw;
    font: bold 1.375em OpenSans;
    letter-spacing: .03em;
    color: #f14a58;
    text-align: center;
  }
  .section-1__bottom .right__text-2,
  .tablet-front .text-2 {
    width: 100%;
    height: 14px;
    margin-top: 5px;
    font: italic 1em Crimson;
    letter-spacing: 0em;
    color: #757575;
    text-align: center;
  }
  /* SECTION 2 */
  .section-2 {
    position: absolute;
    top: 65.49479166666667vw;
    left: 0;
    width: 66.66666666666667%;
    /*512*/
    height: 32.68229166666667vw;
  }
  .section-2__top {
    float: left;
    width: 50%;
  }
  .section-2__bottom {
    float: left;
    width: 50%;
  }
  .section-2__top a {
    display: block;
    width: 100%;
    height: 32.68229166666667vw;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    background-image: url("../img/start/tablet/slide_2/2.png");
    background-size: 100% 100%;
  }
  .section-2__top .text-1,
  .tablet-back .text-1 {
    width: 100%;
    padding-top: 21.65vw;
    font: bold 1.375em OpenSans;
    letter-spacing: .025em;
    text-align: center;
  }
  .section-2__top .text-2,
  .tablet-back .text-2 {
    width: 100%;
    padding-top: 8px;
    font: italic 1em Crimson;
    letter-spacing: 0em;
    color: #757575;
    text-align: center;
  }
  .section-2__bottom {
    width: 50%;
    height: 32.68229166666667vw;
  }
  .section-2__bottom a {
    display: block;
    position: relative;
    width: 100%;
    height: 32.68229166666667vw;
    border-top: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    overflow: hidden;
  }
  .section-2__bottom .front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 32.68229166666667vw;
    background-color: #f5de75;
    transition: top 650ms;
  }
  .section-2__bottom .front__text-1 {
    width: 80%;
    height: 7.8125vw;
    padding: 7.65vw 10% 0;
    font: bold 1.125em OpenSans;
    line-height: 3.90625vw;
    letter-spacing: .03em;
    text-align: center;
  }
  .section-2__bottom .front__text-1 span {
    color: #50c1e9;
  }
  .section-2__bottom .front__text-2 {
    width: 80%;
    height: 7.421875vw;
    padding: 11px 10% 0;
    font: italic 1em Crimson;
    letter-spacing: 0em;
    line-height: 3.90625vw;
    color: #000;
    text-align: center;
  }
  .section-2__bottom .back {
    width: 100%;
    height: 32.68229166666667vw;
    background-color: #f14a58;
  }
  .section-2__bottom .back__text-1 {
    width: 100%;
    height: 33px;
    padding-top: 19.01041666666667vw;
    font: 1.125em OpenSans;
    letter-spacing: .03em;
    color: #fff;
    text-align: center;
  }
  .section-2__bottom .back__text-2 {
    width: 100%;
    height: 57px;
    padding-top: 10px;
    font: italic 1em Crimson;
    letter-spacing: 0em;
    color: #fff;
    text-align: center;
  }
  /* SECTION 3 */
  .section-3 {
    float: right;
    width: 33.203125%;
    /*255*/
    height: 98.046875vw;
  }
  .section-3 a {
    display: block;
    width: 100%;
    height: 98.17708vw;
    background-image: url("../img/start/tablet/slide_2/3.png");
    background-size: cover;
  }
  .section-3 .text-1 {
    width: 100%;
    height: 25px;
    padding-top: 3.8vw;
    font: 1.375em OpenSans;
    letter-spacing: .03em;
    text-align: center;
  }
  .section-3 .text-2 {
    width: 100%;
    height: 25px;
    padding-top: 13px;
    font: italic 1em Crimson;
    letter-spacing: 0em;
    color: #757575;
    text-align: center;
  }
  /* THIRD SLIDE OF CAROUSEL */
  .carousel__item-3 {
    width: 100%;
    height: 106.7708333333333vw;
    background-color: #f5de75;
    overflow: hidden;
  }
  .carousel__item-3 a {
    position: relative;
    display: block;
    width: 100%;
    height: 106.7708333333333vw;
  }
  .carousel__item-3 img {
    position: absolute;
    top: 13.54166666666667vw;
    left: 31.70572917vw;
    width: 36.58854167vw;
    height: 50.52083333vw;
  }
  .carousel__item-3 .text-1 {
    width: 100%;
    height: 30.078125vw;
    padding: 29.7vw 0 0 4px;
    font: bold 6.25em OpenSans;
    letter-spacing: .07em;
    color: #fff;
    text-align: center;
  }
  .carousel__item-3 .text-2 {
    width: 70%;
    margin: 0 auto;
    padding-top: 16.4vw;
    font: bold 1.375em OpenSans;
    line-height: 4.427083333333333vw;
    letter-spacing: .03em;
    text-align: center;
  }
  .carousel__item-3 .text-2 span {
    color: #50c1e9;
  }
  .carousel__item-3 .text-3 {
    width: 71%;
    height: 23px;
    margin: 0 auto;
    padding-top: 13px;
    font: italic 1em Crimson;
    letter-spacing: -0.006em;
    line-height: 3.90625vw;
    text-align: center;
  }
  .carousel__item-4 {
    width: 100%;
    height: 106.7708333333333vw;
    background-color: firebrick;
  }
  /* BANNERS */
  .banners {
    width: 100%;
    /*768*/
    height: 32.68229166666667vw;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fff;
  }
  .banners-left {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 66.796875%;
    /*513*/
    height: 32.68229166666667vw;
    border-right: 1px solid #e5e5e5;
    background-image: url("../img/start/banners/1_tablet.png");
    background-size: 100% 100%;
  }
  .banners .text-1,
  .banners .text-2 {
    float: right;
  }
  .banners-left .text-1 {
    width: 50%;
    height: 4.296875vw;
    padding-top: 3.77604167vw;
    font: bold 1.375em OpenSans;
    letter-spacing: .03em;
    text-align: center;
  }
  .banners-left .text-2 {
    width: 50%;
    height: 16px;
    padding-top: 5px;
    font: italic 1em Crimson;
    letter-spacing: 0em;
    color: #757575;
    text-align: center;
    clear: right;
  }
  .banners-right {
    display: none !important;
  }
  .tablet-back {
    display: none;
    float: left;
    width: 33.203125%;
    /* 255*/
    height: 32.68229166666667vw;
    background-image: url("../img/start/tablet/slide_2/2.png");
    background-size: 100% 100%;
  }
  .tablet-front {
    float: left;
    width: 33.203125%;
    /* 255*/
    height: 32.68229166666667vw;
    background-image: url("../img/start/tablet/slide_2/5.png");
    background-size: 100% 100%;
  }
  /* ARRIVALS */
  .arrivals {
    width: 100%;
    background-color: #fff;
    overflow: hidden;
  }
  .head-arrivals {
    width: 100%;
    height: 65px;
    margin-bottom: 8.203125vw;
    padding-top: 11.19791667vw;
    font: bold 2.5em OpenSans;
    letter-spacing: .022em;
    color: #000;
    text-align: center;
  }
  .arrivals-conteiner {
    width: 89.84375%;
    /*690*/
    margin: 0 auto;
    /*60*/
  }
  .arrivals .item {
    float: left;
    width: 29.56521739130435%;
    /*204*/
    height: 53.38541666666667vw;
    margin: 0 5.652173913043478% 6.510416666666667vw 0;
    /*39*/
  }
  .arrivals .item:nth-of-type(3n+3) {
    margin-right: 0;
  }
  .arrivals .item:nth-of-type(n+4) {
    display: none;
  }
  .arrivals .item img {
    width: 100%;
    height: 37.63020833333333vw;
  }
  .arrivals .item__name {
    width: 90%;
    margin: 4.6875vw auto 0;
    font: bold 0.875em Roboto;
    line-height: 24px;
    letter-spacing: .03em;
    text-align: center;
  }
  .arrivals .item__price {
    width: 70%;
    margin: -13px 15% 0;
    font: 0.875em Roboto;
    line-height: 65px;
    letter-spacing: .03em;
    text-align: center;
  }
  .all-arrivals {
    position: relative;
    display: block;
    width: 39.0625vw;
    /*298*/
    height: 9.11458333vw;
    margin: 4.036458333333333vw auto 17.83854166666667vw;
    padding-left: 13px;
    font: bold 1.25em OpenSans;
    letter-spacing: .03em;
    text-align: center;
    cursor: pointer;
    outline: none;
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #bebebe;
    /*box-shadow:
        1px 0px rgb(229,229,229), 1px 1px rgb(190,190,190),
        2px 1px rgb(228,228,228), 2px 2px rgb(189,189,189);*/
  }
  .all-arrivals:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }
  .all-arrivals:active {
    top: 2px;
    left: 2px;
    box-shadow: -1px 0px #ed4251, -1px -1px #d11427;
  }
  footer {
    width: 100%;
    border-top: 1px solid #e5e5e5;
    background-color: #fff;
  }
  .links {
    width: 89.84375%;
    /*690*/
    height: 55.078125vw;
    min-height: 350px;
    max-height: 430px;
    margin: 0 auto;
  }
  .links .left {
    float: left;
    width: 63.76811594202899%;
    /*440*/
    border: none;
  }
  .quick-links {
    float: left;
    width: 52.27272727272727%;
    /*230*/
  }
  .customer-links {
    float: left;
    width: 47.72727272727273%;
    /*210*/
  }
  .links__head {
    margin-top: 3.385416666666667vw;
    font: bold 1em OpenSans;
    line-height: 65px;
    letter-spacing: .022em;
  }
  .links__list {
    margin: 7px 0 0 1px;
    list-style-type: none;
    font: 0.875em Roboto;
    line-height: 40px;
    letter-spacing: .022em;
  }
  .links .right {
    float: left;
    width: 36.23188405797101%;
    /*250*/
  }
  .right-top {
    width: 100%;
    /*250*/
    height: auto;
  }
  .links .questions {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding-left: 8%;
    /*20*/
  }
  .links .questions__text {
    height: 11px;
    margin-top: -2px;
    padding-left: 10%;
    /*25/250*/
    font: 0.875em Roboto;
    line-height: 10px;
    letter-spacing: .03em;
    background-image: url("../img/start/footer/twG.png");
    background-repeat: no-repeat;
    background-position: left top;
  }
  .links .questions__text span {
    font-weight: bold;
  }
  .links .phone {
    margin: -8px 0 0 8%;
    /*20*/
  }
  .links .phone_text {
    margin-top: -1px;
    font: 0.875em Roboto;
    line-height: 7px;
    letter-spacing: .02em;
  }
  .links .about {
    display: none;
  }
  .social {
    float: left;
    display: block;
    margin: 12.23958333vw 0 0 8.9%;
    /*22*/
  }
  .down {
    width: 89.84375%;
    /*690*/
    height: 10.28645833333333vw;
    /*79*/
    margin: 0 auto;
    padding: 0 5.078125%;
    /*39*/
    border-top: 1px solid #e5e5e5;
    text-align: center;
  }
  .copyrate {
    float: left;
    width: 33.85416667vw;
    /*295*/
    height: 100%;
    padding: 1px 3px 0 0;
    font: bold 0.75em Roboto;
    letter-spacing: .03em;
    color: #000;
    text-align: left;
  }
  .copyrate:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .share {
    float: left;
    display: inline-block;
    width: 16.66666666666667%;
    /*115*/
    height: 10.28645833333333vw;
    /*79*/
    margin-left: 2.60416667vw;
    font: bold 1em OpenSans;
    letter-spacing: .03em;
  }
  .share:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .share-mind {
    display: inline-block;
    width: 29%;
    height: 21px;
    margin-left: 2.5%;
    padding: 8px 2px 3px 7.826086956521739%;
    font: 0.75em Roboto;
    letter-spacing: .03em;
    background-image: url("../img/start/footer/share.png");
    background-repeat: no-repeat;
    background-position: left center;
  }
  .down__menu {
    float: right;
    list-style-type: none;
    width: 40% /*280*/;
    height: 100%;
    padding-top: 2px;
    text-align: right;
  }
  .down__menu:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .down__menu li {
    display: inline-block;
    margin-left: 6.071428571428571%;
    font: bold 0.75em Roboto;
    letter-spacing: .02em;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  body {
    font-size: 2.1vw;
  }
}
